[2019-02-12 15:21] caballerof opened #1 "Coordinar traducción"
@lizzie136 Saludos, espero todo vaya bien, quisiera preguntarte como nos coordinamos para el trabajo de traducción del tutorial de JS, podría iniciar desde la principio o si es mas conveniente tomar una sección en especifico.

¿Habría posibilidad de tener un canal de comunicación mas directo?

[2019-02-13 15:36] lizzie136 commented on #1
Hola @caballerof, claro, te parece por Slack? o por gmail? eportillaf@gmail.com

[2019-02-27 18:42] victorze commented on #1
Hola @lizzie136, me gustaría encargarme de la traducción de la parte dos. Y quisiera saber en cual rama vamos a trabajar ya que existen 2.

[2019-02-27 22:36] lizzie136 commented on #1
Hola @victorze a que parte te refieres con parte 2? La parte de *2-ui* ?  Si es esa por mi lado esta mas que cool :)

[2019-02-27 22:43] lizzie136 commented on #1
Estoy probando algo nuevo, les parece conectarse a este server de discourse https://discord.gg/WPcsf6 ?

[2019-02-27 22:46] victorze commented on #1
Ok, ya estoy dentro :)

[2019-04-02 14:57] lizzie136 opened #9 "Async - (01-callbacks)"

[2019-04-02 14:58] lizzie136 opened #10 "Async - (02-promises-basics)"

[2019-04-02 14:58] lizzie136 opened #11 "Async - (03-promises-chaining)"

[2019-04-02 14:59] lizzie136 opened #12 "Async - (04-promises-api)"

[2019-04-02 14:59] lizzie136 opened #13 "Async (05-async-await)"

[2019-04-02 16:51] lizzie136 opened #15 "UI - Document/01-browser-environment"

[2019-04-16 10:08] iliakan opened #17 "Spanish Translation Progress"
## Maintainer List

@lizzie136

## For New Translators

To translate a page:

1. Check that no one else has claimed your page in the checklist and comments below.
2. Comment below with the name of the page you would like to translate. **Please take only one page at a time**.
3. Clone this repo, translate your page, and submit a pull request!

Before contributing, read the glossary and style guide

[2019-04-18 00:36] victorze commented on #17
Hola @lizzie136. Siguiendo la nueva dinámica, me gustaría traducir la página: Hello, world!

[2019-04-18 01:39] lizzie136 commented on #17
@victorze ok! Lo agrego al issue

[2019-04-18 03:25] victorze commented on #17
@lizzie136 ahora seguiré con la página: Code structure

[2019-04-18 04:59] victorze commented on #17
@lizzie136 ahora me gustaría traducir la página: Walking the DOM

[2019-05-12 22:42] Ebecode commented on #17
Hola chicos, soy nuevo con javascript, pero me aparecio la sugerencia de contribuir y deseo ayudar.
Traducire el articulo: Developer console.

[2019-05-13 07:08] SantiEspada commented on #17
Buenas a todos! Me gustaría contribuir con las traducciones, empezaré por traducir el artículo: The modern mode, "use strict"

[2019-05-13 22:39] Sjesc commented on #17
Hola! Empezare a traducir el artículo: Promisification

[2019-05-13 22:39] Ebecode commented on #17
Traducire el articulo: Variables.

[2019-05-13 23:05] tscandalitta commented on #17
Data types

[2019-05-14 01:31] danielriosb commented on #17
Traducire el articulo: Data types

[2019-05-14 01:33] tscandalitta commented on #17
Lo acabo de traducir yo!

[2019-05-14 01:39] danielriosb commented on #17
Traducire el articulo: Type Conversions

[2019-05-14 15:44] Carlosf96 commented on #17
Hola Chicos! me gustaria contribuir a esto y Traducire el articulo: Operators

[2019-05-14 22:39] memesaur commented on #17
Conditional operators: if, '?'

[2019-05-14 22:41] NohemiBarrera commented on #17
Conditional operators: if, '?'

[2019-05-16 13:11] Sjesc commented on #17
Logical operators

[2019-05-19 20:48] tscandalitta commented on #17
Hola gente, me parece buenísimo y les agradezco que quieran ayudar a traducir los artículos. Pero mínimamente les pido que lean los artículos antes de subirlos, verifiquen si lo que escribieron tiene sentido/es entendible y por favor traten de corregir las faltas de ortografía, es algo muy sencillo y nos ahorra mucho tiempo.
Saludos!

[2019-05-20 22:07] tscandalitta commented on #17
Comparisons

[2019-05-21 01:04] Sjesc commented on #17
Loops: while and for

[2019-05-21 12:57] lizzie136 commented on #17
Gracias a todos! Este fin de semana estaré repasando por sus pull requests y actualizando el repositorio.

[2019-05-22 13:48] #1 closed

[2019-05-22 14:36] lizzie136 opened #48 "Reviewers role"
cc./ @tscandalitta @caballerof @maurodibert @victorze

Hola!

este issue es para ordenarnos un poco en cuanto a la forma en que se revisan los PR.
Como reviewers, deberán poder dejar comentarios en los pull request para que las personas que los hayan mandado los corrijan.

Puede tardar un poco más la traducción, pero por otro lado este proyecto es open source y esta como `good first project to con

[2019-05-22 14:51] tscandalitta commented on #48
Perfecto, tengo un par de dudas.
Podemos corregir los PR también o solamente hacer comentarios para que los corrijan los autores?
Y con respecto a los merge, basta con que solo uno de nosotros revise una traducción y le parezca correcta o deberíamos revisarla todos y coincidir en que ya esta lista para agregar a master?

[2019-05-22 14:54] lizzie136 commented on #48
@tscandalitta la idea es que lo corrijan los/las autores/as, para eso le dejamos los comentarios en el review. Puedes dejar el PR en `request for changes` hasta que corrija lo que sea necesario. Creo que si vamos a editar directamente nosotros, es luego de darle la oportunidad a la persona que mando el Pull Request de corregirlo. De lo contrario, personalmente, da la sensación de pasivo agresivo.

[2019-05-22 15:02] maurodibert commented on #48
Elizabeth, coincido plenamente con vos! Me parece más enriquecedor para
todos el sugerir mejoras y la persona pueda avanzar en su proceso mientras
avanza la traducción.

El mié., 22 de may. de 2019 a la(s) 11:54, Elizabeth Portilla (
notifications@github.com) escribió:

--
Mau.-

[2019-05-22 21:20] tscandalitta commented on #17
Interaction: alert, prompt, confirm

[2019-05-22 22:18] JOsktgui commented on #17
Hola, empezaré con **Functions**

[2019-05-25 12:34] maurodibert commented on #17
Hola gente!
Empiezo a traducir:  JavaScript Fundamentals > Variables.

El mié., 22 de may. de 2019 a la(s) 19:18, José Oscátegui (
notifications@github.com) escribió:

--
Mau.-

[2019-05-26 01:24] tikoflano commented on #17
Type Conversions

[2019-05-27 22:05] laptou commented on #17
Variables

[2019-05-28 03:36] tikoflano opened #51 "How to call the differente types?"
Even when reading in spansih I like it this way, but how should we translate them?

- number / número
- object / objeto
- string / string
- boolean / boolean

[2019-05-28 03:59] lizzie136 commented on #51
I will go with the approach of leave it as Number, Object, String, and Boolean, since those are their nouns, and explicit it in the translation that it a `número`, `objeto`, `cadena de caracteres`, `booleano`.
It is the [approach of MDN](https://developer.mozilla.org/es/docs/Web/JavaScript/Data_structures)

What do you this @tscandalitta @caballerof @maurodibert @victorze ?

[2019-05-28 11:44] tscandalitta commented on #51
That's perfect, I agree with you.
I'll fix the articles I've translated

[2019-05-28 12:32] maurodibert commented on #51
I totally agree! And did you create the slack? And I've started with
variables the other day but I think anyone asked for it yesterday... I
really think much faster to chat on slack this things.

El mar., 28 de may. de 2019 a la(s) 08:44, Tomas Scandalitta (
notifications@github.com) escribió:

--
Mau.-

[2019-05-28 14:22] tikoflano commented on #51
So, we should leave them as Number, Object, String, and Boolean with starting uppercase? It seems to be that it should be lowercased to avoid confusing with conversion functions.

Also, what you decide here should be added to _Translation Tips --> Terms_ in the README.

[2019-05-28 17:12] caballerof commented on #51
I agree with the approach of leave it as Number, Object, String, and Boolean, it's the best way for referring keywords in programing languages.

[2019-06-26 16:21] mario-duran commented on #17
Introduction to browser events

I would like to contribute translating the entire section of Introduction to Events, article by article.

Thanks

[2019-06-26 19:29] lizzie136 commented on #17
Thanks @mario-duran , @laptou and @tikoflano !! We'll be expecting, and checking your PRs

[2019-06-29 14:12] JavyMB commented on #17
Network requests
I would like to contribute translating the entire section of Network requests
I will start with "Fetch: Basics"

[2019-07-04 14:32] tambaqui commented on #17
I would like to contribute translating the entire section of Animation
I will start with "Bezier curve"

[2019-07-05 03:31] panterx-js commented on #17
Hola @lizzie136 quiero colaborar. Voy a traducir  la pagina variables !

[2019-07-05 03:33] panterx-js commented on #17
Una pregunta, como hago para contribuir? XD

[2019-07-05 04:17] panterx-js commented on #17
Ya averigue como. Empece con variables :)

[2019-07-16 18:54] tambaqui commented on #17
CSS-animations

[2019-08-06 02:15] inkcoming commented on #17
Array methods

[2019-08-10 10:09] Aerz commented on #17
Closure

[2019-08-19 02:03] adrian00s commented on #17
Hello, I would like to contribute.
I will translate the following article: Storing data in the browser > LocalStorage, sessionStorage

[2019-08-21 05:45] aldarisbm commented on #17
Voy a ayudar con `Async/await` .

Una pregunta @lizzie136, tal articulo tiene carpetas adentro con mas articulos por ejemplo:

El articulo de `Async/await` tiene una carpeta adentro : `01-rewrite-async`.

Solo quiero asegurarme que todo tiene que ser traducido completamente para poder ser considerado en el PR. Gracias!

[2019-08-21 05:58] aldarisbm commented on #17
Async/await

[2019-08-22 02:56] rajcespedes commented on #17
The "switch" statement

[2019-08-22 04:24] lizzie136 commented on #17
Hola @aldarisbm, sí, la idea es traducir el readme principal y sus contenidos como los ejercicios y en el caso de ese asyn await el rewrite. Pero podemos ir tomando por partes si lo requieres.

[2019-08-31 19:52] javier123454321 commented on #17
Hola, que tal todos? A mi me encantaría ayudar a traducir la página de las variables.

[2019-08-31 19:54] javier123454321 commented on #17
Variables

[2019-09-01 13:54] cris2123 commented on #17
Operators

[2019-09-02 18:33] javier123454321 commented on #17
Function expressions and arrows

[2019-09-05 23:47] IngridGdesigns commented on #17
The old "var"

[2019-09-06 13:57] lizzie136 commented on #17
Hi 👋 ! This weekend I'll be reviewing the PRs. If you got a previews `request for changes`, please re-check your translation to apply feedback. If anyone has a question about the process, please, let me know. Thanks!

[2019-09-07 23:11] Giorgiosaud commented on #17
Comparisons

[2019-09-07 23:13] Giorgiosaud commented on #17
Conditional operators: if, '?'

[2019-09-08 02:55] Giorgiosaud commented on #17
Functions

[2019-09-08 04:07] Giorgiosaud commented on #17
JavaScript specials

[2019-09-09 11:51] tiomno commented on #17
Manuals and specifications

That gap there stresses me out. ;)

[2019-09-09 13:12] Giorgiosaud commented on #17
Debugging in Chrome

[2019-09-15 19:10] jordevo commented on #17
Modules, introductions

[2019-09-26 09:50] Arnau-Ninerola commented on #17
Operators

[2019-09-26 09:52] Arnau-Ninerola commented on #17
Can I take over Operators @cris2123 ? Or are you still working on it?

[2019-09-26 09:55] cris2123 commented on #17
@lizzie136 No he podido terminar la traducción y @Arnau-Ninerola  quiere tomarla. No tengo ningún problema en cederla

[2019-09-26 09:55] Arnau-Ninerola commented on #17
Comments

[2019-09-26 09:57] cris2123 commented on #17
@Arnau-Ninerola Yes you can take it. No problem

[2019-09-26 09:59] Arnau-Ninerola commented on #17
@cris2123 Perfecto, gracias! :)

[2019-09-26 17:05] Arnau-Ninerola commented on #17
Polyfills

[2019-09-29 11:16] joaquinelio commented on #17
juira bot, not for you

Old programmer,  old technologies,  new in js...
   ...new in GIT.

se ve algo lento esto, ¿algo que deba saber?
Se supone que uno elige un tema sin check, pero veo cosas no reclamadas y ya traducidas
y demasiadas con check y no actualizadas (¿sin merge?)
no es importante, solo las quería ver como referencia.
¡Salud!

Veamos...

[2019-09-29 11:23] joaquinelio commented on #17
Methods of primitives

[2019-09-29 13:32] joaquinelio commented on #17
Numbers

[2019-09-30 21:54] joaquinelio commented on #17
@lizzie136 @victorze
I feel a little discouraged
I saw the notice in javascript.info , came here and followed the instructions,
read "to the new translators", fork, installed the server,
chose unclaimed,
The bot said ok so I put my frst PR trusting the review system I dont know anything about,
then started a second translation

But the translated source page is wrong (not just a rephrase), so my P

[2019-10-01 20:16] lizzie136 commented on #17
Hi @joaquinelio, Trello and discourse were our first try to organize this repository before the javascript.info organization was created and this issue was open. So at the moment, it is obsolete.
About the PR you refer to, I would encourage you to send it with the latest info available and comment that on your PR description.
I know it sounds silly on my part, but I could not get a time specifical

[2019-10-02 10:11] joaquinelio commented on #17
Thank you @lizzie136 !!!  It's clear now.

Is not hard for me to check the age of the file I'm translating.  I am embarrased, I cried too much. I see now the only very old part is the solution rd, an easy fix.

I just realized the hard work you have and have been doing.  👍 👍

[2019-10-02 11:41] joaquinelio commented on #17
Mockingbird is not a ruiseñor question:

Aprendí que fracciones eran expresiones con enteros 1/4 y que  0,25  eran decimales,
pero usar "decimal"  en este artículo confundiría entre los números y el sistema
justo donde más se necesita la distinción.
so,
*** Do you translate "fraction" as "fracción"? ***
o aclarar específicamente "sistema decimal" y "dígitos decimales" cada ocurrencia.

[2019-10-02 12:43] tiomno commented on #17
@joaquinelio, estoy de acuerdo. Para resolver el problema yo usaría el contexto de la idea que se quiere transmitir en lugar de traducir siempre una ocurrencia por otra de forma fija.

Por ejemplo, el párrafo:

Para mi tendría sentido así:

[2019-10-02 15:16] #9 closed

[2019-10-02 15:16] #10 closed

[2019-10-02 15:16] #11 closed

[2019-10-02 15:16] #12 closed

[2019-10-02 15:16] #13 closed

[2019-10-02 15:16] #15 closed

[2019-10-03 02:50] Sjesc commented on #17
Ninja code

[2019-10-06 18:07] tambaqui commented on #17
JavaScript animations

[2019-10-10 05:21] fcabanilla commented on #17
Objects

[2019-10-10 05:22] fcabanilla commented on #17
Arrays

[2019-10-14 14:59] mariabp commented on #17
Symbol type

[2019-10-14 19:26] gndelia commented on #17
Rest parameters and spread operator

[2019-10-16 02:04] joaquinelio commented on #17
It's lonely here...

[2019-10-23 04:19] luisandia commented on #17
Coding Style

[2019-10-31 09:10] lolabarri commented on #17
Dynamic imports

[2019-11-02 17:56] 11joselu commented on #17
The "new Function" syntax

[2019-11-06 18:49] joaquinelio commented on #17
@lizzie136
Need the review and...
Can I have some GIT support?
Im learning node now and I'm still HAVE to learn GIT, maybe my PR is wrong. (It is wrong. I thought I could do 2 different PR but mixed the two commits, Can I turn it back?)
I decided to trnaslate an entire section, (I already translate the first two, yes, my bad, I forgot the "please only one each time")  but if my pitfalls with GIT a

[2019-11-25 16:56] dactionx commented on #17
¡Hola! ¿Puedo ayudar? I could translate Garbage Collection in "Objects: The Basics".

[2019-11-28 10:10] ferueda commented on #17
Strings

[2019-12-03 21:59] spaceinvadev commented on #17
Introduction to browser events

[2019-12-10 07:54] spideep commented on #17
Hola @lizzie136
Puedo ayudar con `Mouse events basics`

[2019-12-10 17:48] alfonsoarrieta commented on #17
Hola... ¡Buenas tardes!
Quiero formar parte de la comunidad y ayudar a traducir a nuestro lenguaje este manual.
Escribiré las indicaciones si son correctas, de no ser así, ¡por favor! alguien que lo haya hecho antes que me sugiera como hacerlo.
1. He seleccionado el artículo a traducir.
2. Agrego el comentario (issues) con el título del artículo.
3. Al finalizar la traducción, hago el Pull Request

[2019-12-10 21:05] JOsktgui commented on #17
Hola 👋 @alfonsoarrieta

1. Seleccionas el artículo a traducir
2. Crear el PR y esperar que lo revisen

[2019-12-11 21:00] alfonsoarrieta opened #128 "Class"
Class

[2019-12-12 02:12] #128 closed

[2019-12-13 18:40] alfonsoarrieta opened #129 "Ingreso de bloque de código en mi artículo de traducción."
Buenas tardes.

Tengo poca experiencia usando GitHub y tengo cierta dudas al respecto, y quisiera que por favor alguno de ayude.
Mi pregunta es: ¿cómo hago para insertar bloques de código en mi artículo? estoy trabajando directamente desde mi repositorio.

[2019-12-13 19:10] #129 closed

[2019-12-13 19:30] aarrieth opened #130 "Ingresar bloque de código en mi artículo"
Buenas tardes.
¿cómo hago para ingresar bloques de código en mi artículo de traducción?
Lo estoy haciendo desde mi repositorio.

[2020-01-02 16:47] jatempa commented on #17
Me gustaría traducir el artículo  **Function expressions**

[2020-02-11 16:57] ricardov03 commented on #17
Arrow functions, the basics

[2020-02-13 21:52] zelezarof commented on #17
Class basic syntax

[2020-02-19 16:54] martinivanalfonso commented on #17
Object methods, "this"

[2020-02-19 19:42] joaquinelio commented on #17
I would like to commit the project but "last commit oct 2"  is not very encouraging.
TLDR
I've been reading for fun some PR.
1) Translators  look like JS programmers, they expect someone else find the bugs. Read again! (not too soon, cool the brain then read again, maybe next day)
2) Reviewers too strict.  I would love to be perfect, but we need this bad:
    The BEST tutorial for the WORST langua

[2020-02-20 12:09] gndelia commented on #17
yeah, I think this project is kind of abandoned or similar. Too bad

[2020-02-21 17:23] cirmar commented on #17
Date and time

[2020-02-21 19:37] tscandalitta commented on #17
@joaquinelio Coincido con vos menos en el caso de la ortografía, esta es (o era) la traducción del tutorial **oficial** de JavaScript y bajo ninguna circunstancia puede estar escrito con faltas, por favor.
De todos modos parece abandonado así que no sé dónde va a terminar esto.

[2020-02-21 19:42] gndelia commented on #17
oficial en que sentido ?

es una pagina mas que ofrece tutoriales de js me parece, no es _oficial_

[2020-02-21 19:48] tscandalitta commented on #17
Jajaja tenes razón, en algún lugar leí oficial y pensé que era el tutorial oficial. Igualmente, no se puede escribir con faltas de ortografía un tutorial que ven miles de personas.

[2020-02-26 21:37] joaquinelio commented on #17
@tscandalitta
Mmm...
Odio las faltas de ortografía (aunque humano soy y... )  y si fuera así de estricto en inglés no podría escribir nada... ¿hay un límite práctico?  Tildes por ejemplo, donde el corrector poco ayuda. ¡QuÉ viva la pepa!

Pero quizás tengas razón, no es lo mismo un foro que un manual.  Aunque hay más faltas de ortografía en los programas JS que en sus tutorials.  "Strict" mode  pf

[2020-03-11 20:39] Josh012422 commented on #17
Hola, Traduciré la página Mouse events basics

[2020-03-16 15:35] maurotikus commented on #17
Object to primitive conversion

[2020-04-06 14:36] PawFV commented on #17
Garbage Collection

[2020-04-08 10:52] alexseik commented on #17
Automated testing with Mocha

[2020-04-14 20:36] ezzep66 commented on #17
Function expressions

[2020-04-15 20:06] ezzep66 commented on #17
buenas @lizzie136, @ricardov03
estoy traduciendo _Function expressions (@ezzep66)_ y veo que el archivo contiene una parte que corresponde a la siguiente sección Arrow functions, the basics.

Pude verificar que en tutorial EN (inglés) mi sección de _Function expressions_ no contiene esa parte de **Arrow Functions**. Qué hago? tengo que respetar el archivo que estoy traduciendo o seguir el original

[2020-04-16 04:29] panterx-js commented on #130
Los artículos están escritos en Markdown. Para escribir un bloque de código solo tenes que hacer 4 espaciados y lo que escribas después ya aparecerá en un bloque de código.

[2020-04-16 13:46] ricardov03 commented on #130
Agregando valor al comentario de Federico, puedes hacerlo también utilizando el siguiente formato:

[code]

Ejemplo real:

[code]

On Apr 16, 2020, 12:29 AM -0400, Federico Taborda <notifications@github.com>, wrote:

[2020-04-16 13:50] ricardov03 commented on #17
Saludos @ezzep66,
Gracias por tomarte el tiempo de validar. Te confirmo, estaré en estos días trabajando en reorganizar el proyecto para actualizar todas las vistas de forma correcta, pero tendré que leer todos los capítulos uno por uno. En lo inmediato, por favor copia todo el texto de la versión en Inglés y tradúcelo. Me encargaré de asegurar que tu traducción se mantenga cuando todo el portal s

[2020-04-17 14:53] ezzep66 commented on #17
Hola @ricardov03,
Contá conmigo para lo que necesites. Quiero colaborar con el proyecto.

Saludos,
ezequiel.caste@gmail.com

[2020-04-18 11:03] ricardov03 commented on #17
Muchas gracias Ezequiel,
Tengo en calendario trabajar con este proyecto mañana. Permíteme validar el estatus actual y con gusto te confirmo en qué forma puedes contribuir más.

Saludos cordiales,

Ricardo Vargas
Full Stack Web Developer
ricardov@gmail.com
http://ricardovargas.me
On Apr 17, 2020, 10:53 AM -0400, Ezequiel Castellanos <notifications@github.com>, wrote:

[2020-04-18 23:19] vplentinax opened #154 "Iterables"

[2020-04-18 23:20] vplentinax commented on #17
Iterables

[2020-04-18 23:21] #154 closed

[2020-04-19 01:39] vplentinax commented on #17
Hola

Buenas noches desde RD. Estoy interesada en colaborar con ustedes activamente para terminar la traducción de este proyecto. Estoy viendo que no ha habido mucho movimiento y como que se ha abandonado el progreso,  y realmente es una pena para algo tan valioso como es la mejor página para aprender JavaScript. Así que, aquí tienen una servidora más, en lo que pueda ayudar para reanudar con las

[2020-04-19 07:59] PawFV commented on #17
@vplentinax Coincido, he traducido Garbage Collectión pero no aparece siquiera marcado en la lista, lo cual me quitó motivación a continuar... tiene aspecto de abandonado esto. No tendría problemas en ayudar con la moderación si así lo necesitan. Mi nivel de inglés es alto, podríamos con un poco de coordinación y siendo pocos, a terminar la traducción en una semana fácilmente.

@ricardov03 @ezzep6

[2020-04-19 11:18] alexseik commented on #17
@PawFV, sin ser mantainer ni nada, para que automáticamente se actualice su nombre con el capítulo a traducir, debes poner un comentario únicamente con el título del capítulo (esto es una tarea automática que ahorra mucho tiempo). Entiendo que @ricardov03 y @lizzie136 dedican horas extras de su tiempo para conseguir que este proyecto salga adelante. En mi opinión, añadir más herramientas sólo añad

[2020-04-19 11:20] alexseik commented on #17
@ricardov03 @lizzie136 no me queda claro como puedo revisar traducciones, cómo indicar que estoy revisandolas.
Un saludo

[2020-04-19 14:58] ezzep66 commented on #17
Hay un servidor en Discord: [https://discord.gg/PmMcNd](https://discord.gg/PmMcNd)

[2020-04-21 17:28] alexseik commented on #17
@ezzep66 no pude conectarme antes y la invitación se ha caducado. ¿Puedes enviar otra? Muchas gracias.

[2020-04-21 17:31] ezzep66 commented on #17
https://discord.gg/eJQC6B

On Tue, Apr 21, 2020, 14:28 alexseik <notifications@github.com> wrote:

[2020-04-21 18:00] PawFV commented on #17
Garbage collection

[2020-04-21 18:04] PawFV commented on #17
Recursion and stack

[2020-04-21 18:06] vplentinax commented on #17
Como hemos acordado en el servidor de discord, me encargaré de la sección DATA TYPES.  Actualizaré lo que esté ya traducido. Y para traducir empezaré con los que no aparecen asignados.

![image](https://user-images.githubusercontent.com/34555644/79898378-2f202880-83d9-11ea-8700-e3606692d410.png)

[2020-04-21 18:06] vplentinax commented on #17
Iterables

[2020-04-21 18:08] gndelia commented on #17
@vplentinax  perdon si no estuve en el slack/discord

que sucede con los PR que ya estan abiertos ? Estan siendo revisados?

[2020-04-21 18:11] vplentinax commented on #17
Hola, puedes acceder al servidor desde aquí.  https://discordapp.com/invite/eJQC6B nos estamos coordinando para terminar el proyecto.  Se está organizando la revisión de los PR.

[2020-04-21 20:04] ezzep66 commented on #17
Constructor, operator "new"

[2020-04-21 22:43] ricardov03 commented on #17
Exacto, por favor ten en cuenta que para que se te auto asigne el punto, debes responder en el campo de reply exclusivamente con el nombre exacto del punto a trabajar. Te sugiero que copies y pegues (Sin ningún texto o espacio adicional) y el sistema te asignará el tema de forma automática.

Saludos cordiales,

Ricardo Vargas
Full Stack Web Developer
ricardov@gmail.com
http://ricardovargas.me
Mobi

[2020-04-22 05:31] vplentinax commented on #17
Map and Set

[2020-04-22 08:53] PawFV commented on #17
Rest parameters and spread syntax

[2020-04-23 15:09] ezzep66 commented on #17
Destructuring assignment

[2020-04-27 14:42] srobnu commented on #17
IndexedDB

[2020-04-29 22:33] vplentinax commented on #17
WeakMap and WeakSet

[2020-05-04 18:41] cortizg opened #164 "Ninja Code"

[2020-05-04 18:42] cortizg opened #165 "Ninja Code"

[2020-05-04 18:45] cortizg commented on #17
Ninja Code

[2020-05-04 19:21] ezzep66 commented on #17
JSON methods, toJSON

[2020-05-04 19:22] ezzep66 commented on #17
ya fue traducido por otra persona.

[2020-05-04 22:00] RyhazL commented on #17
Cookies, document.cookie

[2020-05-04 23:14] cortizg commented on #17
Class inheritance

[2020-05-06 01:33] cortizg commented on #17
Static properties and methods

[2020-05-07 05:24] cortizg commented on #17
Private and protected properties and methods

[2020-05-08 02:59] cortizg commented on #17
Extending built-in classes

[2020-05-08 03:58] cortizg commented on #17
Class checking: "instanceof"

[2020-05-08 03:59] cortizg commented on #17
Mixins

[2020-05-09 00:10] #165 closed

[2020-05-09 00:10] #164 closed

[2020-05-09 18:49] ezzep66 commented on #17
Basic operators, maths

[2020-05-10 01:03] cortizg commented on #17
Hello, how are you? Please note:
 #166 replaced by #171
 #167 replaced by #172
 #169 replaced by #173
 #168 replaced by #174

[2020-05-10 06:26] vplentinax commented on #17
Variable scope

[2020-05-10 06:27] vplentinax commented on #17
Global object

[2020-05-10 06:29] vplentinax commented on #17
Function object, NFE

[2020-05-10 16:23] cortizg commented on #17
Error handling, "try..catch"

[2020-05-10 16:23] cortizg commented on #17
Custom errors, extending Error

[2020-05-11 14:28] ddanielcruzz commented on #17
Nullish coalescing operator '??'

[2020-05-11 14:29] ddanielcruzz commented on #17
Object copying, references

[2020-05-12 00:38] kenliten commented on #17
Hola!, me gustaría traducir Property flags and descriptors.

[2020-05-12 01:06] ezzep66 commented on #17
Hola Otoniel, gracias por tu interés en colaborar. Primero tienes que hacer
el comentario con el texto exacto del título del artículo, para que el bot
te lo asigne.

On Mon, May 11, 2020, 21:38 Otoniel Reyes Galay <notifications@github.com>
wrote:

[2020-05-12 01:57] vplentinax commented on #17
Comparisons

[2020-05-12 01:58] vplentinax commented on #17
Optional chaining '?.'

[2020-05-12 01:59] vplentinax commented on #17
Decorators and forwarding, call/apply

[2020-05-12 02:00] vplentinax commented on #17
Decorators and forwarding, call/apply

[2020-05-12 02:01] vplentinax commented on #17
Scheduling: setTimeout and setInterval

[2020-05-12 02:01] vplentinax commented on #17
Function binding

[2020-05-12 02:02] vplentinax commented on #17
Arrow functions revisited

[2020-05-12 02:02] vplentinax commented on #17
Function binding

[2020-05-12 03:43] cortizg commented on #17
Promise

[2020-05-12 11:59] ezzep66 commented on #17
Modules, introduction

[2020-05-13 12:05] ezzep66 commented on #17
Thank you!
I've edited the list ;)

[2020-05-14 17:46] cortizg commented on #17
Good!

[2020-05-14 17:46] cortizg commented on #17
Prototypal inheritance

[2020-05-15 04:13] cortizg commented on #17
F.prototype

[2020-05-16 23:04] cortizg commented on #17
Native prototypes

[2020-05-17 03:14] cortizg commented on #17
Prototype methods, objects without proto

[2020-05-17 19:54] rainvare commented on #17
Property getters and setters

[2020-05-18 01:21] cortizg commented on #17
Prototype methods, objects without proto

[2020-05-18 01:21] cortizg commented on #17
Prototype methods, objects without __proto__

[2020-05-18 06:32] ddanielcruzz commented on #17
Error handling with promises

[2020-05-18 22:38] ddanielcruzz commented on #17
Promise API

[2020-05-19 22:53] ezzep66 commented on #17
Export and Import

[2020-05-22 20:18] joaquinelio opened #201 "Año 2020, estamos trabajando sobre versiones de capítulos muy viejas"
Hay correcciones de texto y ejercicios,
más las novedades del lenguaje y nuevos capítulos
Sugiero sincronizar los capítulos aún no marcados por traductores.

[2020-05-22 20:47] amircp commented on #17
Form properties and methods

[2020-05-22 21:54] rainvare commented on #17
Generators

[2020-05-23 03:11] vplentinax commented on #201
Hola @joaquinelio, ya  una persona se está encargando de la sincronización y actualización del repositorio para que sea igual a la versión en ingles. Realmente, todos estamos traduciendo desde la versión en inglés. Incluso, si hay articulos o elementos que no aparecen en el de ingés, se deben eliminar de la traducción para que sean totalmente iguales. También tenemos un servidor en Discord donde n

[2020-05-23 05:14] maksumi commented on #17
Mouse events

[2020-05-23 05:39] joaquinelio commented on #201
AAhh!
It's ALIVE!
uh... sorry, @vplentinax ... la cuarentena me tiene mal.

¡Hola! Y gracias.  Creí que estaba muerto por las fechas de eventos importantes del proyecto,
pensé que las traducciones eran de entusiastas que no irían a parar a ningún lado.
 igual subí dos PR que tenía de hace un año frenadas por mis desvaríos git ahora cuarentenarreglados.

No estaba haciendo caso al ruego de CONTRIBU

[2020-05-23 18:53] maksumi commented on #17
Moving the mouse: mouseover/out, mouseenter/leave

[2020-05-23 18:54] maksumi commented on #17
Drag'n'Drop with mouse events

[2020-05-23 18:54] maksumi commented on #17
Pointer events

[2020-05-23 18:55] maksumi commented on #17
Keyboard: keydown and keyup

[2020-05-23 18:55] maksumi commented on #17
Scrolling

[2020-05-23 19:50] maksumi commented on #17
Me gustaría acceder al discord del repositorio amigos

[2020-05-23 20:01] vplentinax commented on #17
Hola @maksumi
El link del servior es este: [Discord](https://discord.com/invite/PckggG)
un saludo!

[2020-05-23 20:03] maksumi commented on #17
Mil gracias

[2020-05-23 20:49] joaquinelio commented on #201
No encuentro mucho sentido en abandonar git y duplicar la misma información en discord y llevar las discusiones allá lejos :)

Hubiera recomendado

* un README-ES.md para nuestro uso exclusivo con los recursos que vamos encontrando y  las recomendaciones propias del lenguaje.

* un GLOSARIO-ES.md , simple lista alfabética que (via PR) alimentaríamos todos y su correspondiente  issue para  su discu

[2020-05-25 01:28] vplentinax commented on #17
Microtasks

[2020-05-25 01:28] vplentinax commented on #17
Async iterators and generators

[2020-05-25 04:58] joaquinelio commented on #201
Saludos, @vplentinax the hard worker

Antes de que sigas sumando trabajos nuevos (miré un par y son muy buenos), sugiero que intentes otro, el de REVIEW.   Ahí vas a entender por qué insisto con la actualización del upstream.

El review debería ser fácil, es solo ver el DIFF y seguir los colores,  pero hoy no lo es, y en uno largo o con varios task /solution  se vuelve muy engorroso hacer el segui

[2020-05-25 11:46] joaquinelio opened #207 "REVIEWS! y prioridades"
¡La prioridad no son las traducciones!

REVIEWS
Creía que los review los hacía una categoria de miembros como los manteiners, pero no, parece ser peer-review.
Lógico. Con 75 PR colgados, son 150 reviews.
Si sugerimos, modificamos, acordamos y aprobamos , el maintainer solo aprieta el boton para cada PR y  avanzamos un montón (llevamos 8 meses sin avance).   Además si se ponen a hacer reviews vería

[2020-05-29 18:13] iliakan commented on #17
Great to see so many translations, but we need a maintainer (on or more) to review and merge them.

Who volunteers?

[2020-05-29 18:31] ezzep66 commented on #17
I propose @vplentinax as maintainer and reviewer.

[2020-05-29 18:44] joaquinelio commented on #17
maintainers job

[2020-05-29 18:50] vplentinax commented on #17
If I can, I agree to help in that way ... Mantainer - reviewer

[2020-05-29 18:56] ezzep66 commented on #17
Developer console

[2020-05-29 19:40] iliakan commented on #17
@lizzie136, @ricardov03 are you active here?

[2020-05-29 20:41] maksumi commented on #17
I agree too

[2020-05-29 20:43] iliakan commented on #17
@vplentinax and @joaquinelio are maintainers now.

[2020-05-29 20:44] joaquinelio commented on #17
@ezzep66

Sugiero no empezar nuevas traducciones hasta el merge EN ES

sé que te basás en ENG repo,
pero el REVIEW es más fácil si está sincronizado

mientras, tenemos 75 PR sin REVIEW

[2020-05-29 20:59] iliakan commented on #17
There are not many translated articles. I'd suggest that the authors of unmerged PR compare their translations against EN version, from https://github.com/javascript-tutorial/en.javascript.info repo.

Then they'll be up to date.

And existing translations can also be compared, side-by-side. Maybe some renumbering will be needed. Then they'll also be up to date.

[2020-05-29 21:14] joaquinelio commented on #17
@iliakan

Trasnlations,
we are already doing them from EN
@ezzep66 put a warning in the readme

reviews,
I don't know how to do that comparison easy way, the diff shows local untranslated ES
that's why I suggest stop'em all  until the merge
and deal with the pending pr old way

[2020-05-30 01:50] ricardov03 commented on #17
Hi Ilya,
Yes. Not full time the last two weeks because business priorities but talking with the team.
I active talking with Valentina and Ezequiel. Going back to work next week.

I have a meeting this weekend with Ezequiel about share task on the repository update from English one.

Greatings,

Ricardo Vargas
On May 29, 2020, 3:41 PM -0400, Ilya Kantor <notifications@github.com>, wrote:

[2020-05-31 00:12] joaquinelio commented on #17
Hola @ricardov03  que tal che.
Me puse a molestar so Ilya me hizo maintainer, título que no pedí pero estaba de oferta.
Mientras haya alguien con suficiente empuje y/o  gramática y/o JS no voy a meter la cola,
quizás ayudar con merges (el supermerge del bot lo requería) si me lo piden.

Problemas
Hace un año me metí, traduje dos artículos e hice PR.
Descubrí que el original estaba mal  y rehice la

[2020-06-01 08:24] #201 closed

[2020-06-01 08:27] #207 closed

[2020-06-01 10:19] joaquinelio commented on #17
@ezzep66 @vplentinax
Doing some cleaning.  issues &  STP  (Sp Tr Progress  issue17)

Aprobé  todos los PR de syncs,  (revisión blanda, con ayuda del STP),
increíble trabajo el de Valentina

* MERGE!!!  sin miedo.  Masivo si quieren.
* revisar estructura STP (ya lo estuvieron haciendo pero no se podía probar) y
   verificar links (desmarqué algunas "X" con PR pendientes)
   ¡Ah!  Actualizar readme.

[2020-06-01 16:14] spaceinvadev commented on #17
Bubbling and capturing

[2020-06-01 16:20] spaceinvadev commented on #17
Event delegation

[2020-06-01 16:20] spaceinvadev commented on #17
Browser default actions

[2020-06-01 16:21] spaceinvadev commented on #17
Dispatching custom events

[2020-06-01 16:21] spaceinvadev commented on #17
Bubbling and capturing

[2020-06-01 16:54] vplentinax commented on #17
Hi @iliakan . I wanted to know if there is a way to update the bot or restart it, since it does cheks that don't correspond, since those articles are partially translated, and it doesn't allow someone else to take it to complete it, also to update the structure, which is incomplete. Thanks!

[2020-06-01 18:19] iliakan commented on #17
@vplentinax what exactly you'd want? The bot relies on the current issue text.

[2020-06-01 18:20] iliakan commented on #17
I coded the bot, I can change and explain everything.

[2020-06-01 19:46] vplentinax commented on #17
It happens that the articles

-Hello World
- functions
- Conditional operators
- Variables
- Javascritp Specials

They appeared as translated (I unchecked them), when in reality they were partially translated. There are parts of these articles that have not yet been translated and the bot does not allow you to remove the assignment to its original author so that it can be reassigned to someone els

[2020-06-01 20:10] joaquinelio commented on #17
@iliakan Can we safely edit progress issue ? Can we remove @user,  #pr with no collateral damage?
How the bot works inside the issue text, it just adds text to the line it finds ?
I don't want "him" confused 'cause our tampering...

[2020-06-01 20:25] joaquinelio commented on #17
@spaceinvadev   Woa, Mr Space!   Un artículo por vez plis.  Y elegir otro una vez traducido y enviado el PR.
Aunque no voy a reprimir el entusiasmo. ¡Gracias!

[2020-06-02 07:07] joaquinelio opened #225 "GLOSARIO"
Great team presents:
--------------------
[code]

### arguments   argumentos, arguments
OJO puede referirse a la forma específica de obtener los argumentos de una función,
un array de argumentos.
ej: mostrar(...arguments)   va on los 3 puntos

### gotcha
Cazabobos, trampa  (Got you!)

### key
key, clave.  Depende del contexto.
Es una clase *especial* de propiedad con la que se accede a un valor.

[2020-06-02 07:28] iliakan commented on #17
@vplentinax @joaquinelio Yes, you can edit the text of the progress issue, remove authors, uncheck articles. The bot doesn't have any other database, all the information is in the issue text.

[2020-06-02 17:38] vplentinax commented on #17
Perfect!
Thanks...

[2020-06-02 19:17] joaquinelio commented on #17
Uh @vplentinax que miedo que te tengo...
But 'so far so good'.  Let's continue...

[2020-06-06 16:39] cortizg commented on #17
Introduction: callbacks

[2020-06-07 16:20] cortizg commented on #17
Patterns and flags

[2020-06-08 17:01] joaquinelio opened #234 "Contributions without CLA"
Hi, @iliakan
@vplentinax @ezzep66
There are old PR and some MERGED PR without the CLA agreement signed.
As a no-charge explicit grant, It seems important.
If we can't reach the authors, should we erase the articles from the final site?

[2020-06-08 17:15] iliakan commented on #234
CLA is only really required for essential authorship. CLA is an official permission to republish, but if that's a typo fix or grammar fix, then no such permission is required.

So if you're talking about English tutorial, then that's not a problem, as it's authored by me.

If you're talking about the Spanish translation, then CLA is needed.

But even if CLA isn't there, I feel it's not enough reas

[2020-06-08 17:15] #234 closed

[2020-06-08 17:52] joaquinelio commented on #234
* Spanish translation issue.
* Public usage contribution. I guess it is clear from the start, but I'm not a lawyer.

@vplentinax @ezzep66
Well, partners, we can continue reviewing those too...

[2020-06-08 21:53] ddanielcruzz opened #235 "La invitación al servidor de Discord ya no es válida"
Estoy interesado en ayudar a actualizar el repositorio, pero al intentar ingresar a Discord me indica que la invitación no es válida.

![Captura de Pantalla 2020-06-08 a la(s) 16 51 46](https://user-images.githubusercontent.com/20308945/84084076-6b6b1080-a9a8-11ea-9bcb-9ab66ba53251.png)

[2020-06-08 22:05] joaquinelio commented on #235
https://discord.gg/BhSp5Q
dice que expira en un día

[2020-06-09 00:55] #235 closed

[2020-06-09 15:50] cortizg commented on #17
Character classes

[2020-06-10 00:37] lariosdje commented on #17
Focusing: focus/blur

[2020-06-10 01:12] joaquinelio commented on #17
@lariosdje  ¡Bienvenido todo aporte !

pero -IMPORTANTE- la versión local de ese artículo tiene 3 años

aún estamos actualizando el repositorio
y estamos pidiendo paciencia hasta que alcancemos a todos los artículos del original inglés más nueva.
Hay detalles en el readme.md

[2020-06-11 23:59] kenliten commented on #17
Property flags and descriptors

[2020-06-12 00:00] kenliten commented on #17
Objects

[2020-06-12 16:08] roosvelt91 opened #250 "08-styles-and-classes"
08-styles-and-classes

[2020-06-13 15:36] vplentinax commented on #250
Hola @roosvelt91, la selección del artículo debes realizarla haciendo un comentario aquí [Issue #17](https://github.com/javascript-tutorial/es.javascript.info/issues/17), no abriendo nuevos issues. Un saludo

[2020-06-13 17:48] cortizg commented on #17
Unicode: flag "u" and class \p{...}

[2020-06-13 23:43] #250 closed

[2020-06-14 15:06] roosvelt91 commented on #17
DOM tree

[2020-06-14 15:08] roosvelt91 commented on #17
DOM tree
es.javascript.info/2-ui/1-document/02-dom-nodes/

[2020-06-14 15:10] roosvelt91 commented on #250
Hola muchas gracias ya deje el comentario con el proyecto en el cual me
gustaría colaborar con la traducción

El sáb., 13 jun. 2020 a las 11:36, Valentina VP (<notifications@github.com>)
escribió:

--
*Roosvelt Balza*
*Licentiate in Biology UCV*

[2020-06-14 15:18] ezzep66 commented on #17
Hol @roosvelt91
El comentario debe contener sólo el título exacto del artículo que quieras traducir.
Así nuestro bot te lo puede asignar

[2020-06-15 03:23] roosvelt91 commented on #17
DOM tree

[2020-06-15 04:58] cortizg commented on #17
Anchors: string start ^ and end $

[2020-06-15 12:11] Leired7 commented on #17
Walking the DOM

[2020-06-15 20:02] roosvelt91 commented on #17
Hola buenas tardes puedes ayudarme a hacer fork a el documento que quiero
traducir desde mi repositorio

El dom., 14 jun. 2020 a las 11:19, Ezequiel Castellanos (<
notifications@github.com>) escribió:

--
*Roosvelt Balza*
*Licentiate in Biology UCV*

[2020-06-17 17:27] ezzep66 commented on #225
No me parece acertado la frase "Términos que no serán traducidos:". Me parece muy autoritaria.

Creo que cada traductor puede utilizar libremente la palabra **matriz, arreglo o vector**. Son términos que hacen referencia a lo mismo y se usan indistintamente. Si bien en la comunidad se utiliza comúnmente array, no debería haber una regla que no nos permita usar una palabra que CLARAMENTE es un sinó

[2020-06-21 03:30] cortizg commented on #17
Multiline mode of anchors ^ $, flag "m"

[2020-06-21 05:12] cortizg commented on #17
Word boundary: \b

[2020-06-22 20:22] #130 closed

[2020-06-22 20:24] #51 closed

[2020-06-26 20:50] vplentinax commented on #17
Dynamic imports

[2020-06-26 20:50] vplentinax commented on #17
Proxy and Reflect

[2020-06-27 01:11] coderdiaz commented on #17
Puedo ayudar con: **Styles and classes**.

[2020-06-27 01:14] vplentinax commented on #17
Hola, debes poner el nombre del artículo solamente. Tal como aparece arriba en la lista. Te recomiendo copiar y pegar directamente. Un saludo y bienvenido.

[2020-06-27 01:15] coderdiaz commented on #17
Styles and classes

[2020-06-28 02:44] cortizg commented on #17
Escaping, special characters

[2020-06-28 04:30] cortizg commented on #17
Sets and ranges [...]

[2020-06-28 23:31] teocicciari commented on #17
Currying

[2020-06-29 01:38] ezzep66 opened #286 "Proceso de Revisión"
Para coordinar las review que estamos realizando, creo que necesitamos un procedimiento bien delineado:

1) **Asignar a un Reviewer**
cualquiera de los miembros: @vplentinax @joaquinelio @ezzep66 @lizzie136 @ricardov03
Si eres miembro y vas a hacer la revisión, por favor asignarse el PR antes de comenzar.

2) El reviewer revisa y corrige errores si existen.
Con el botón "Add your review"
Tienen la

[2020-06-29 16:22] joaquinelio commented on #286
¿Asignarse? ¡Oh!, Aprendí algo nuevo, minimizaría la superposición, PERFECTO, dar control a Don BOT y requerir menos coordinación humana,  gracias.
¿Qué hay con reviewers invitados?
Hoy por hoy necesitamos más revisión que traducción, es frustrante aportar traducción y que no te respondan en meses.
Si sabe  _hescrivir vien_  y detectar errores de concepto de js,  ¡100% de aumento!  De trabajo.

[2020-06-29 20:29] ezzep66 commented on #286
![image](https://user-images.githubusercontent.com/51804994/86052771-e36baa00-ba2d-11ea-9b78-58979276423e.png)

Click en el engranaje y se puede agregar reviewer: **Request up to 15 reviewers**

[2020-06-29 22:53] joaquinelio commented on #286
@ezzep66
Veo 2 cosas y no sé la diferencia,
reviewers
assignees
o para que sirve "assigne" , crei que era lo mismo y te referias a ese.

en un pr aparezco como reviewer no se si alguien me solicitó o cuando terminé git lo puso solo,
y me pude agregar como assignee "assign yourelf"  pero ni idea de para qu´e
el doc no ayuda nada

[2020-06-29 23:03] joaquinelio commented on #286
help.github.com/en/github/managing-your-work-on-github/assigning-issues-and-pull-requests-to-other-github-users
**no sirve**
https://developer.github.com/v3/issues/assignees/
**no sirve**

google "whats the point in github assignee"
stackoverflow:
actually meant to be used with issues rather than pull request so that when we receive a issue we can assign someone to fix it
OK!!!!

[2020-06-30 16:48] joaquinelio commented on #17
STP sumo cachichien
#188  ->  #288
#184  ->  #285

[2020-07-01 21:24] vplentinax commented on #17
@teocicciari Gracias por tu colaboración.

He visto que tu primer PR fue creado desde la rama Master de tu fork. No hay problema ahora con ello, pero para la próxima traducción, crea una nueva rama, ya que como se indica en el [README](https://github.com/javascript-tutorial/es.javascript.info/blob/master/README.md), la rama master debe mantenerse limpia.

Un saludo

[2020-07-02 02:19] maksumi commented on #17
Moving the mouse: mouseover/out, mouseenter/leave

[2020-07-03 20:19] joaquinelio opened #291 "Corregir 1 8 3 Native prototypes (@cortizg)"
Native prototypes

Cerré con merge #193 sin aprobar para no perder la traducción y lo eliminé el issue17 pero sigue asignado a
@cortizg
ahora nuestro repo tiene tu español, deberías hacer un nuevo pr sobre él

ups! no deja asignarlo porque no sos miembro

 1-8-3-2 solution,
está bien pero falta borrar las lineas en inglés, tiene 20 lineas de más

1 8 3 article
16 genera la cadena `"[objeto Objeto]

[2020-07-04 18:31] ezzep66 commented on #291
no es el lugar para discutir problemas de los PR.
Cierro.
Trasladar discusion de PR en PR por favor

[2020-07-04 18:31] #291 closed

[2020-07-04 23:17] joaquinelio commented on #291
@ezzep66   "Cierro" ¿?

ESTE es el lugar para discutir issues.
Si no entendisste el problema, deberias dejar que siguiera su curso.

Esto lo usamos poco
porque son pocas las necesidades del proyecto sin código
porque usamos demasiado discord,
porque un buen diseño del bot nos releva de andar coordinando todo (aunque a veces lo trampeamos pero justamente para que Don Bot siga en control).

[2020-07-04 23:49] ezzep66 commented on #291
No veo la razón de inicar Issue si puedes hacer los comentarios relacionados al PR #193 directamente ahí

[Pull Request](https://github.com/javascript-tutorial/es.javascript.info/pull/193)

[2020-07-05 01:40] cortizg commented on #291
LISTO! PR #292 @joaquinelio

[2020-07-05 03:34] joaquinelio commented on #291
'cuz is an issue que lo trasciende.
193 no va más
Es donde se plasman los issues, se asignan, resuelven y cierran.

[2020-07-11 14:29] cortizg commented on #17
Quantifiers +, *, ? and {n}

[2020-07-12 03:27] cortizg commented on #17
Greedy and lazy quantifiers

[2020-07-12 23:12] maksumi commented on #17
Drag'n'Drop with mouse events

[2020-07-12 23:13] maksumi commented on #17
Pointer events

[2020-07-12 23:15] maksumi commented on #17
Pointer events

[2020-07-12 23:26] maksumi commented on #17
Drag'n'Drop with mouse events

[2020-07-12 23:27] maksumi commented on #17
Keyboard: keydown and keyup

[2020-07-12 23:28] maksumi commented on #17
Scrolling

[2020-07-13 16:37] joaquinelio commented on #17
**no bot, not for you** .   @ezzep66 @vplentinax y quienes aporten

Estamos cerca de tener la primera parte completa, el primer mojón.

Algunos fueron tomados tan temprano como el año pasado y no pusieron PR,
otros son bastante recientes

**The JavaScript language (solo un vistazo, sin PR ni los usuarios más activos):**

Arrow functions, the basics (@ricardov03)
11/2
Objects (@kenliten)
11/6
Objec

[2020-07-13 16:44] vplentinax commented on #17
Propongo dejar los autores de articulos tomados en el 2020... por si aparecen... y borrar los nombres de los anteriores al 2020 para dejarlos libres.

[2020-07-13 16:52] maksumi commented on #17
Estoy de acuerdo, con lo de los autores previos al 2020. Respecto a los actuales podríamos preguntarles si aún tienen la intención de contribuir (tal vez han estado trabajando en su fork local) o si prefieren ceder el articulo a alguien que quiera y tenga el chance de hacerlo... @vplentinax @joaquinelio  @ezzep66  @cortizg

[2020-07-13 17:05] joaquinelio commented on #17
Ok, y luego ir avanzando por meses.
los dejamos un rato por si les sonó la campanita de la mención.

[2020-07-13 21:07] maksumi commented on #17
Array methods

[2020-07-13 21:09] maksumi commented on #17
Reference Type

[2020-07-15 04:20] joaquinelio commented on #17
Eval: run a code string

[2020-07-15 15:36] nahuelcoder commented on #17
Hola, para ir completando secciones me gustaría traducir el artículo " Array methods" de la sección "Data types"

[2020-07-15 17:26] joaquinelio commented on #17
BigInt

[2020-07-15 19:56] elemarmar commented on #17
Searching: getElement*, querySelector*

[2020-07-15 20:14] joaquinelio commented on #17
¡Bienvenido!
Como te avisaron, el readme.
Para reservar el artículo, copiarlo el título tal cual y ponerlo aquí como comentario. El bot, nuestro jefe, te da el ok con "thumbs up" y te agrega a la lista
Cuando lo tengas hecho, (articulo y ejercicios) ponés (sí, soy de capital) un PR con el mismo título copiado, el bot entonces nos pide la revisión: sí, somos sus esclavos.
¿Sabes de GIT? Aprendí acá

[2020-07-15 20:18] nahuelcoder commented on #17
Array methods

[2020-07-15 20:19] maksumi commented on #17
Jist like that @nahuelcoder

[2020-07-15 20:24] nahuelcoder commented on #17
Muchas gracias por la bienvenida y las aclaraciones @maksumi @joaquinelio, he estado aprendiendo y usando GIT pero espero aprender mucho más. Por ahora aporto desde las traducciones.

[2020-07-15 20:29] maksumi commented on #17
Cool! Bienvenida también @elemarmar . I'm not maintainer pero por favor, no abandonen sus traducciones, su ayuda es bien recibida y se agradece enormemente. Si en algún momento sus prioridades no les permite terminar el artículo con el que están trabajando háganselo saber a alguno de los maintainers para que se pueda liberar el artículo en cuestión y esté disponible para que alguien más lo tome.

[2020-07-16 01:22] MaskeZen commented on #17
FormData

[2020-07-17 00:14] maksumi commented on #17
objects

[2020-07-17 00:14] maksumi commented on #17
Objects

[2020-07-18 20:02] joaquinelio opened #307 "Translations done needing update"
@iliakan
Ok, we need to update the article

Is this on purpose?
![image](https://user-images.githubusercontent.com/6558304/87860989-48713c00-c918-11ea-8eaf-dd8552531175.png)

[2020-07-18 20:12] joaquinelio commented on #307
Kicking the goal line away is not fair.

Tramposillo.
¡Pero aún podemos celebrar que superamos la mitad del repo!  🍰
@vplentinax  @ezzep66  @maksumi @cortizg +otros

[2020-07-18 20:56] joaquinelio commented on #307
@vplentinax  y si ahora alguien lo tomara, no veria diferencia... ni con pr gringas  ni pr valentinas
este guy no da paz

[2020-07-19 01:09] joaquinelio commented on #17
Object copying, references

[2020-07-19 16:34] joaquinelio commented on #17
Arrays

[2020-07-20 04:17] iliakan commented on #307
Changed that, cause `if` isn't an operator technically.

[2020-07-20 06:04] elemarmar commented on #17
Modifying the document

[2020-07-20 07:57] joaquinelio commented on #307
1) I got that, I was just asking about erasing translator.
  Is it just a progress control?  Every single change (not just the title) should do that then, erase PR & translator  (yes, if you erase one, you have to erase both)

2) Any reason to reopen it? If it is ok, we just have to retake it.
 There is only a "funny" (kicking goal line) comment to who supervise the syncs.

[2020-07-20 08:02] iliakan commented on #307
So, the question is about the issue modification? Or.. I'm not sure I'm getting it, sorry.

The progress issue text is modified by bot. You can modify it manually as well.

[2020-07-20 09:43] joaquinelio commented on #307
oh, sorry.  It's not a big deal, just wanted to know the why.
I know it was the bot.  I just expected it changed only the title, not translator and PR#.

And  we DID change it manually a LOT.  Closed PR's,  articles taken and unattended for months, wrong/ very outdated/incomplete  translations, etc.  Still do.  Bot never complains... : )

[2020-07-20 09:43] #307 closed

[2020-07-20 12:59] danilobrinu commented on #17
Scripts: async and defer

[2020-07-20 17:46] george28cs commented on #17
Error handling with promises

[2020-07-20 20:56] vplentinax commented on #17
Hola a todos!
@george28cs, @danilobrinu, @elemarmar, @MaskeZen
Si alguno de ustedes tienen un buen nivel de inglés y quisiera colaborarnos con las revisiones de los PR, sería de gran ayuda para nosotros.

Para la revisión solo debe ir hacia los PR, eligen uno, abren los archivos editados desde "Files changed" y por cada línea les aparecerá la opcion de añadir sugerencias de cambios mediante este b

[2020-07-20 22:46] joaquinelio commented on #17
Me permito agregar, aunque por lo menos uno de los revisores debería tener buen conocimiento de JS,
todo aporte sirve.
La mayoría son tildes que faltan/sobran, algún typo como letrass/palabras que faltan o se repiten, alguna expresion regional que al traductor le parecía natural y se pueda cambiar por algo más universal,
dudas sobre glosario.
Si no se animan a proponer un cambio, pueden preguntar

[2020-07-21 05:00] danilobrinu commented on #17
Scripts: async, defer

[2020-07-21 05:00] danilobrinu commented on #17
@vplentinax puedo ayudar a revisar los PRs

[2020-07-21 05:10] vplentinax commented on #17
Claro! Siguiendo  las recomendaciones.
Cualquier duda, por aquí o en Discord podemos resolverla.

Un saludo

[2020-07-21 06:35] d4g0 commented on #17
File and FileReader
😄️

[2020-07-22 02:37] joaquinelio commented on #17
The old "var"

[2020-07-22 04:08] maksumi commented on #17
@d4g0

Hola viejo! Bienvenido desde ya! Te invitamos a darle una leída al [`readme`](https://github.com/javascript-tutorial/es.javascript.info/blob/master/README.md) del repo para que sepas como es el flujo de trabajo en el repo. Cualquier duda puedes ingresar al servidor en [Discord](https://discord.gg/umKZ4e)

[2020-07-22 13:22] joaquinelio commented on #17
Promise API

[2020-07-22 18:40] ddanielcruzz commented on #17
Node properties: type, tag and contents

[2020-07-22 21:47] darwinsalinas opened #315 "Attributes and properties"

[2020-07-22 22:22] joaquinelio commented on #17
Async/await

[2020-07-23 02:12] joaquinelio commented on #17
¡¡¡ Ya no quedan art sin tomar en primera seccion... !!!   sin pr solo faltan 10
aunque 5 son de febrero.   ok  no es mucho abandono y hay mucho en las otras secciones

Con los PR llegamos a 100 total  !!!

y a loss 120 estamos en 2/3 del repo...

[2020-07-23 03:07] maksumi commented on #17
Genial!!!

[2020-07-23 13:09] joaquinelio commented on #17
@ddanielcruzz
ups!
Te recuerdo, ddzz ya habías hecho traducciones, con pr y merge.
y tomasta varias más y te borré del registro para que otros las tomaran

Lo extraño es que no debí hacerlo, si bien está mal tomar varias imposibilitando a otros trabajarlas,
las que borraba eran del año pasado, no las recientes, y ahora esstaba evaluando las de febrero y sin respuesta, las tuyas son varios meses ma

[2020-07-23 21:40] joaquinelio commented on #17
@d4g0

Para que Don Bot te lo asigne  ( conteste con thumbs up y registre tu nombre arriba)
hay que poner el titulo exactamente igual,
acá le sonreiste y se distrae el pobre...

Cuando tengas traducido, el PR también tiene que tener el nombre exacto.
Bienvenido.

[2020-07-24 05:37] danielgrj commented on #17
Fetch: Download progress

[2020-07-24 19:18] d4g0 commented on #17
Ok 👍

Sent with 💚 from havana

[2020-07-24 19:36] vplentinax commented on #17
Attributes and properties

[2020-07-24 19:37] vplentinax commented on #17
Attributes and properties

[2020-07-24 22:52] joaquinelio commented on #17
Done sangre.
Vuelvo con el tema de las review, las necesitamos tanto como las traducciones y somos pocos. Y el procedimiento pide 2 revisiones por cada traducción.

Y si no te animas a hacer una review, igualmente te aliento a:
date una vuelta por los PR,
dales una ojeada...
y si te parece que algo puede ser mejorado, deja un comentario.

ortografía, concepto de JS, fluidez, todo se puede mejorar.

[2020-07-25 01:07] #315 closed

[2020-07-25 06:14] maksumi commented on #17
Proxy and Reflect

[2020-07-25 15:32] mebedoyag commented on #17
Keyboard: keydown and keyup

[2020-07-25 15:35] mebedoyag commented on #17
Element size and scrolling

[2020-07-25 23:30] vplentinax commented on #17
Window sizes and scrolling

[2020-07-26 03:56] d4g0 commented on #17
File and FileReader

[2020-07-26 05:55] malibb commented on #17
Drag'n'Drop with mouse events

[2020-07-26 05:57] malibb commented on #17
Forms: event and method submit

[2020-07-26 05:58] malibb commented on #17
Methods of RegExp and String

[2020-07-26 05:58] malibb commented on #17
Fetch API

[2020-07-26 07:39] vplentinax commented on #17
Bienvenida @malibb . Gracias por contribuir. Recomendamos que los artículos se tomen uno por uno y así dar la posibilidad a más personas de colaborar...

También recomendamos darle una ojeada al **readme**.

Un saludo!

[2020-07-26 12:20] danilobrinu commented on #17
Resource loading: onload and onerror

[2020-07-27 06:15] Leired7 commented on #17
Scrolling

[2020-07-29 02:35] vplentinax commented on #17
Pointer events

[2020-08-01 01:41] maksumi commented on #17
Coordinates

[2020-08-01 12:44] Leired7 commented on #17
From the orbital height

[2020-08-01 14:25] Derlys commented on #17
Hola, me gustaria traducir la carpeta "Introduction to Events" y todos sus temas

[2020-08-01 14:57] danilobrinu commented on #17
@Derlys no puedes hacer eso, necesitas tomar punto por punto. Sino otros no podrían colaborar con algûn tema hasta que tu los liberes.

[2020-08-01 15:40] Derlys commented on #17
Entiendo, gracias por la aclaración, entonces seria este "Popups and window methods"

[2020-08-01 16:16] danilobrinu commented on #17
Manda un comentario solo con el nombre del tema que quieres tomar (sin comillas o apostrofes).Usar el nombre exacto, te recomiendo copiar y pegar.

[2020-08-02 04:23] maksumi commented on #17
¡Hey @Derlys! Bienvenida al repo, antes que nada.

Te recomendamos empezar leyendo el [`README.md`](https://github.com/javascript-tutorial/es.javascript.info/blob/master/README.md) para que entiendas el flujo de trabajo y cómo es que se asignan los artículos por medio de "Don Bot" (como nos gusta llamarle).

La sugerencia de tomar un artículo a la vez es para que:
1. Darle la oportunidad a otros d

[2020-08-02 12:11] nahuelcoder commented on #17
Events: change, input, cut, copy, paste

[2020-08-02 21:54] Derlys commented on #17
Popups and window methods

[2020-08-03 14:29] ezzep66 commented on #17
Arrow functions, the basics

[2020-08-03 15:20] Leired7 commented on #17
Custom elements

[2020-08-04 05:18] george28cs commented on #17
WebSocket

[2020-08-05 15:00] ezzep66 commented on #17
Capturing groups

[2020-08-05 23:53] homero304 commented on #17
Type TextDecoder and TextEncoder

[2020-08-05 23:55] homero304 commented on #17
TextDecoder and TextEncoder

[2020-08-06 01:16] MaskeZen commented on #17
Fetch: Abort

[2020-08-07 02:55] joaquinelio commented on #17
Mutation observer

[2020-08-07 17:40] vplentinax commented on #17
Page: DOMContentLoaded, load, beforeunload, unload

[2020-08-09 17:33] joaquinelio commented on #17
Class basic syntax

[2020-08-11 05:33] joaquinelio commented on #17
Object methods, "this"

[2020-08-11 08:04] joaquinelio opened #344 "Don Bot te borró de Variable scope, closure"
@vplentinax
Hi partner

Querras supongo actualizar esto,
el bot te borró cuando le cambió el nombre

El original cambió el nombre al art y agregó unas líneas  "hours ago"
lo corregiria si no estuviera medio dormido

Lo marqué como hecho para que no sea tomado

, querrás ponerle tu nombre de nuevo tambien al issue17

[2020-08-11 11:30] EzequielCaste commented on #344
fixed Variable scope, closure (@vplentinax) #178

[2020-08-11 14:03] Fedebornaz commented on #17
Date and time

[2020-08-11 15:37] joaquinelio commented on #344
Este es un issue,
@EzequielCaste  Los issues no se solucionan ignorando el problema
#178 es historia antigua, qué tiene que ver aqui

@vplentinax tiene que enterarse del problema si quiere lo arregla,
 si no quizas lo arregle yo,
o el que quiera, o nadie

[2020-08-11 16:10] joaquinelio commented on #307
@iliakan
Sorry to disturb you again, just a couple of questions about the "progress issue" format:

1) Does the @translator and #PR there have any purpose once the translation is closed {X]  ?

We noticed when an article changes its name, Mr.Bot updates the issue
by removing it and adding a new one.  I guess it's ok,  "he"
*just erase nonexistent articles and
*adds the fresh ones.
but then it forg

[2020-08-11 16:35] iliakan commented on #307
1. No purpose, just for logging, but that's not really needed, as git itself keeps the logs.
2. So it removes all [X]s?

[2020-08-11 17:03] joaquinelio commented on #344
sin Valentina ya
quedara relegado.

[2020-08-11 17:03] #344 closed

[2020-08-11 18:09] joaquinelio commented on #307
@iliakan

No, not all of them.   Just the one with the title changed (as an effect of removing then adding the article) so:
It Removes  [X],  @translator,  #PR,   That's why I asked about the log.
It just kicks the goal line 1 step away...?  That's all?  No harm? Funny Bot.
Some people worried because it is nice to have the translator name there. I kind of credit.

Unrelated to this, we think we a

[2020-08-11 19:15] iliakan commented on #307
So, when an article is updated, the bot removes `[x]`, translator name, PR#?

[2020-08-11 20:16] joaquinelio commented on #307
uhg... I think I'll let explanations to someone less... rambling, sorry about that.

No,

This:
**when an article's TITLE is updated, the bot removes  [x], translator name, PR#**

that's all  what it does
(please refer to the img at the top comment)
No harm I guess,  I keep an eye on the list.
I just check [X] it again.  That is enough I guess.

[2020-08-11 20:41] iliakan commented on #307
Thanks, finally got it!

Renaming an article is a rare thing, right now the bot doesn't track renames. They are difficult to track.

So it considers it a "removal + new article", hence the actions.

When we calculate the percentage of translation (for stats), mostly-translated articles to count as translated. So that doesn't shift the goal.

Indeed, you can update the title and manually click `[x]

[2020-08-11 20:47] joaquinelio commented on #307
YES!!   Prepare it. Tutorial -ES- ready to launch.

[2020-08-11 21:18] EzequielCaste opened #346 "Ready to go online"
Hi @iliakan 👋

With 115 of 174 articles already translated, we are ready to go online, if you consider appropriate. 🚀

Let us know what you think ;)

Cheers!

[2020-08-12 02:15] joaquinelio commented on #225
No maintainers, pueden hacer sugerencias acá como comentarios.

Si empieza a crecer desgloso glosario =)
separo glosario técnico de las sugerencias de palabras comunes.

[2020-08-12 03:28] iliakan commented on #346
Yeah, let's do that! =)

Please translate these YAML files (engine localizations for Spanish):

[locales.zip](https://github.com/javascript-tutorial/es.javascript.info/files/5060447/locales.zip)

[2020-08-12 12:30] EzequielCaste commented on #346
Ok great!
I'm working on it 👍

[2020-08-12 13:49] EzequielCaste commented on #346
[locales.zip](https://github.com/javascript-tutorial/es.javascript.info/files/5063115/locales.zip)

Done! 🎉

[2020-08-12 16:49] joaquinelio commented on #346
I'll start a big pull from EN.

maints, I'll leave ya this, click the delousing monkey:
articles left,  date claimed
https://joaquinelio-zone17.glitch.me/

wishing many young folks learning here...

[2020-08-12 20:08] iliakan commented on #346
Please take a look at https://es.javascript.info/

[2020-08-12 20:16] EzequielCaste commented on #346
Looking great!!

:) Happy to finally see some progress after all this time.

On Wed, Aug 12, 2020, 17:08 Ilya Kantor <notifications@github.com> wrote:

[2020-08-12 20:47] iliakan commented on #346
I enabled CI, so any pushes to this repo get to the site automatically.

[2020-08-12 20:49] iliakan commented on #346
I'm also going to add translation leads to the page https://es.javascript.info/about

BTW, is it true? @vplentinax did more than 50% of the translation?

[2020-08-12 21:02] EzequielCaste commented on #346
@vplentinax she did the sincronization of the old translated files to the newer versions. Updating old translations.

I hope contributors names were not lost in the process.

[2020-08-12 21:09] iliakan commented on #346
The contributor for each line is tracked by git. You must have heard about the `git blame` command.

So when files are moved around, created/deleted/committed by another person, this information may be changed. That's probably what happened.

[2020-08-12 21:14] EzequielCaste commented on #346
BTW, I've changed my username in Github from ezzep66 to EzequielCaste. Is is possible to update it in the about page?

[2020-08-12 21:16] iliakan commented on #346
To fix that, an article should be fully recommitted, right now (late evening) no bright ideas about that, maybe you can suggest something?

@EzequielCaste it's quite difficult to change without recommitting. The author info is stored in Git repo, not on github. It's a part of the commit hash.

[2020-08-12 22:02] joaquinelio commented on #346
"Blame" should be useful, but it is nearly empty for many files here. I didn't care too much.
But.
I wonder if this is what causes a problem I'm dealing with now.
Pulling from English upstream tries to OVERWRITE SOME traslated files. NO conflicts shown.
I CAN'T TRUST IT!  We need a trustworthy sync method, we shouldnt do it manually with our eyes.

I have 3 remotes, origin, upstrem (es) enstream (

[2020-08-12 22:17] joaquinelio commented on #346
LOVE IT ❤️

1) Yes, Valentina vplentinax DID A LOT.  She pushed the repo ahead, translations and reviews.

2) I like this too
According to your browser headers, you know English. Please help to translate the tutorial. Thank you!

We could use some new blood

3) "about"
HEY! Don't encourage TRANSLATORS only.
we need REVIEWERS, the hard part.
But it's ok, I was chasing people with solid background a

[2020-08-12 23:29] joaquinelio opened #348 "Pull from English stream overwrites some translated files like if there weren't conflict"
Pulling from English upstream
tries to OVERWRITE SOME traslated files.
No idea why, NO conflicts shown.

I have 3 remotes, origin, upstrem (es) enstream (en)
merge upstream, ok

then

merge enstream, lots of conflicts, ok...
but some files are replaced by english version with no conflict at all

example
D:\js\es.javascript.info\1-js\99-js-misc\04-reference-type\3-why-this\task.md
D:\js\es.javascri

[2020-08-13 12:00] iliakan commented on #346
@joaquinelio Such thing may happen, I think I saw it too once, but don't remember what's causing it. I'd like to check out an example.

[2020-08-13 21:06] EzequielCaste commented on #346
Merged an article yesterday: [Capturing groups #345](https://github.com/javascript-tutorial/es.javascript.info/blob/master/9-regular-expressions/11-regexp-groups/article.md)

Online version has not been updated. Does this take some time? or is the update automatic?

[2020-08-13 21:10] iliakan commented on #346
@EzequielCaste sorry, my typo, now should work =)

[2020-08-13 21:43] homero304 commented on #17
Object to primitive conversion

[2020-08-13 21:53] EzequielCaste commented on #346
Thank you @iliakan 🙏
One last favor I ask from you today...

since I changed my username, the Issue #17 Information gets overwritten:

can you please update my data?
I think the bot overwrites with original username, it should be @EzequielCaste

[2020-08-14 05:43] iliakan commented on #346
Added maintainers at https://es.javascript.info/about =)

[2020-08-14 05:45] iliakan commented on #346
Please translate this:

[es.yml.zip](https://github.com/javascript-tutorial/es.javascript.info/files/5072780/es.yml.zip)

[2020-08-14 08:06] joaquinelio commented on #346
ok I'm on it.  ✍️

[2020-08-14 10:00] joaquinelio commented on #346
Last line: "tutorial -is- English"?

hey pals:  @EzequielCaste , @maksumi

dash - ¿","? Not natural.  Not happy.  Queda un poco forzado.
maintainer ... ==  ¿Mantenedor? prefero el título github!
markup	... ==
[es.yml.zip](https://github.com/javascript-tutorial/es.javascript.info/files/5073922/es.yml.zip)

[2020-08-14 10:12] iliakan commented on #346
@joaquinelio what's wrong with the last line? It just states that the Spanish version is a translation of the English one.

By the way, do you know that you can translate text in images too?
For example, here:
![image](https://user-images.githubusercontent.com/349336/90239051-9bfb7a80-de2f-11ea-81ce-5ebedafd25b7.png)

We use SVG format for images, so no need to use graphics editor for that. Just t

[2020-08-14 10:12] iliakan commented on #346
@joaquinelio is the `es.yml.zip` from your message a finished translation? or I'd better wait?

[2020-08-14 10:53] joaquinelio commented on #346
1)  SVG,
I know that, I read about tha yaml  in the server readme.  It's Sad magicimg (or something) is not working for me yet.  I'm dealing with the pull issue now.

2) yaml Last line
"This is the translated version of the tutorial is English"
sound odd

3) to wait or not to wait...
It depends.
Nothing too wrong, it's good enough.
But It doesnt seem urgent, no need to waste time, just a check.

[2020-08-14 10:57] iliakan commented on #346
2. Maybe I should rephrase it?
3. Ok, I'll wait then.

[2020-08-14 11:11] joaquinelio commented on #348
I am working on MY fork, so I have 2 upstreams

enstream        https://github.com/javascript-tutorial/en.javascript.info.git (fetch)
enstream        https://github.com/javascript-tutorial/en.javascript.info.git (push)
origin  https://github.com/joaquinelio/es.javascript.info.git (fetch)
origin  https://github.com/joaquinelio/es.javascript.info.git (push)
upstream        https://github.com/javascr

[2020-08-14 12:20] joaquinelio commented on #346
This is the translated version of the tutorial -in- English, maybe?
Again, not my language.

[2020-08-14 12:27] iliakan commented on #346
Oh, a typo there! Right, corrected 🙄

[2020-08-14 12:27] iliakan commented on #346
Thank you so much.

[2020-08-14 12:27] iliakan commented on #346
Now I feel stupid for not understanding you.

[2020-08-14 12:46] joaquinelio commented on #346
Says the man who created this entire multi-soul project

But it's ok, nobody understands me.
👍

[2020-08-14 14:02] iliakan commented on #348
After looking into the history, I guess git lost track of the content due to renames.

That's why it considers the English version to be a full rewrite.

[2020-08-14 14:03] EzequielCaste commented on #346
Hi @iliakan I'm trying to install the server, following the instructions above, I get this error after the command `edit es`

[11:01:52] 'webpack' errored after 4.28 s
[11:01:52] ValidationError: Invalid options object. Copy Plugin has been initialized using an options object that does not match the API schema.
 - options[0] misses the property 'patterns'. Should be:
   [non-empty string | object

[2020-08-14 14:07] iliakan commented on #346
Please show me the versions:

[code]

[2020-08-14 14:13] EzequielCaste commented on #346
`
"version": "4.44.1",
"version": "6.0.3"
`

[2020-08-14 14:17] iliakan commented on #346
That's strange: `package.json` has "copy-webpack-plugin": "^4.5.2".
So it really should be 4, not 6.

[2020-08-14 14:24] EzequielCaste commented on #346
Ok rolled back to original version. I may hay updated the version..

`Module build failed (from ./node_modules/mini-css-extract-plugin/dist/loader.js):
ModuleBuildError: Module build failed (from ./node_modules/css-loader/dist/cjs.js):
Error: Can't resolve '/img/subscribe_bg.svg' in 'C:\Users\ezzep\js\server\tmp\en'
`

[2020-08-14 14:31] EzequielCaste commented on #346
Module `execa` was missing from my modules...

It's working now, at least on my localhost.

[2020-08-14 14:53] EzequielCaste commented on #346
ok almost got it...

[2020-08-14 15:18] joaquinelio commented on #346
@EzequielCaste
1)
Welcome to the point I quit!
I guess it lacks PATH entry

2)
Can you please check es.yml.zip from... uhm... comment 5 hours before this?
Plis don't drop the entire transl...

[es.yml.zip](https://github.com/javascript-tutorial/es.javascript.info/files/5075347/es.yml.zip)
original
10 hours before this...

it really should show the comment ID

[2020-08-14 15:59] maksumi commented on #346
Ponme en contexto @joaquinelio

[2020-08-14 15:59] joaquinelio commented on #348
We agreed the "guess why"

Still a bug I think, the full rewrite should only be done if they had the same, unchanged seed.

So. How to fix.
It'll be harder, not only conflicts but carefully search all the losses and get the spanish files and re-rewrite them...
How.
If I cut&paste the files, I'll lose (and steal) my mates credits.

Besides, One time job? Is it a real fix?    I dont know how it work

[2020-08-14 16:37] iliakan commented on #348
Surely that's important. And, as we can see, git doesn't help here. We need an alternative mechanism of merging/updating from upstream.

[2020-08-14 21:19] joaquinelio commented on #348
I'm too new in git...
But I still see it as a git bug;  two different files ,same location:

if: one is unchanged, the other is newer (commits ahead),  newest wins
if: the two have changed AND there are not conflicting lines...  smart  merge (? not sure)
if: the two have changed AND there are conflicted lines,  ask the HUMAN to do the dirty job
if: the two are completely unrelated, no stamp in com

[2020-08-15 00:13] nahuelcoder commented on #17
Event loop: microtasks and macrotasks

[2020-08-15 00:16] iliakan commented on #348
@joaquinelio Here's the story.

TL;DR: the file was deleted in one commit, and then added independently in the next one, so Git loses history and can't merge right.

TL;DR 2: Please make upstream merges in 1 commit, to avoid such a split.
=======

When Git merges a file, the 3-way merge has 3 sources.
1) the file on "our" branch.
2) the file on "their" branch.
3) the "merge base" file - taken at t

[2020-08-15 06:10] maksumi commented on #17
Introduction to event browsers

[2020-08-15 06:11] maksumi commented on #17
Introduction to browser events

[2020-08-15 22:27] joaquinelio commented on #348
That's why you showed me " --follow " sorry I was too dumb to follow. Still hard to get.

Could you take a look to the next lines and watch for oddities ? I'll try to stay focused.

So:
I quit considering it as a bug. You want git smart, it solved that way. I follow you, I'll leave it smart.

Git lost track because of:
delete/add in different commits, instead a single rename in an unique commit.
I

[2020-08-16 04:17] iliakan commented on #348
The history/credits is already screwed up by these commits. So you can modify the files properly and commit.

P.S. Another option is not to use `git merge` at all, but just get a diff, like
[code]

This shows all the changes, you can integrate them without any merge and be free of git artifacts.

Looks like there was no sync for 1.5 years, that's why there are many changes. Many of them are rename

[2020-08-16 08:55] joaquinelio commented on #348
Got that. I just wanted to understand what happened.  Knowing the "why" helps to avoid bad things in the future.
Still, "Many of them are renames/minor fixes though." different commits, cant say why.

You mean to stay this way?  Correct me:
I'll loose the magic of pull:
The diff will show all the changes from the base commit (and forever)
A healthy pull will show only diffs affecting only EN commi

[2020-08-16 10:02] iliakan commented on #348
1. You don't use "git merge" command at all.
2. `diff master...enstream/master` shows all commits on `enstream` from where the branches diverged. That is: the new stuff only.

I'm not sure what kind of "pull magic" you're talking about, so I can't answer well enough, sorry.

A few words about a "healthy pull":
- The `git pull` is `git fetch` plus `git merge`.
- The `diff` command shows from the la

[2020-08-16 11:23] joaquinelio commented on #348
Sorry if I bother you again,
I just want to understand if what you are suggesting is a real fix.

ever?

new stuff only... from 1,5 years ago

and then the same next diff.  1,6 years...

that's important.
If we keep updating "Without any merges", diff will be harder and harder with time.
I would leave the project with a dirty updating process
pull magic is,
if I fix merges now,
next  merge  will s

[2020-08-16 11:51] joaquinelio commented on #348
This magic. Completely different files:
still the only conflict is the line recently altered,
ready for a quick fix.

![image](https://user-images.githubusercontent.com/6558304/90333522-e8b09400-df9c-11ea-8bb4-d1993fdbadd1.png)

[2020-08-16 11:55] joaquinelio commented on #348
This magic:
Two completely different files,
Still the only conflict is the one line recently modified,
ready for a quick fix

![image](https://user-images.githubusercontent.com/6558304/90333636-d8e57f80-df9d-11ea-8a6f-7f43396bc34a.png)

[2020-08-16 11:56] iliakan commented on #348
Try `-X no-renames` ?

[2020-08-16 12:05] iliakan commented on #348
Indeed so, rename detection works if the rename can be traced by git.

And the line is detected correctly if line spacings are the same.

[2020-08-16 12:05] joaquinelio commented on #348
oh, the one you suggested not to.   : )
sorry, I didnt study it.
yet

[2020-08-16 12:19] joaquinelio commented on #348
Yes, we keep line numbers and spacing in translations
And the magic only works if I fix merge I think
so close...

I need to sleep
I'll look at it.

[2020-08-18 00:33] homero304 commented on #17
Long polling

[2020-08-19 21:40] joaquinelio commented on #346
@iliakan
Well, no reviewers for this.
It's ok, you can use it. Some changes from the last one.

[es.yml.zip](https://github.com/javascript-tutorial/es.javascript.info/files/5099428/es.yml.zip)

Anything else to be done here?

[2020-08-19 21:44] EzequielCaste commented on #346
Sorry @joaquinelio I didn't quite understand what you meant. 🤷‍♂️

We're you waiting for me to review this?

[2020-08-19 21:50] EzequielCaste commented on #346
Closing this, since we are ONLINE now and I was able to translate the SVG images.

[2020-08-19 22:01] joaquinelio commented on #348
-norename, 406 file changed up today.
395 files to fix
No one would want to review that massive commit anyway, Need to split somehow.
Cherrypicking seems the worst solution.

Can I edit a merge? drop changes (like I could do if they were not from merge but mine)? So the resolve/commit are done on a reduce set of files.

To be clear on magic.
It's a commit history magic. In a perfect world, with a

[2020-08-20 04:10] mariomenjr commented on #17
Bubbling and capturing

[2020-08-20 08:22] joaquinelio commented on #17
Event delegation

[2020-08-20 10:23] iliakan commented on #348
I suppose you could merge partially, e.g. up to the state like 50 commits ago, and then continue merging... Never tried that though.

[2020-08-20 14:59] joaquinelio commented on #348
That... seems possible.  I would never do that with real code.  This is just text, no version conflicts expected.
50 commits? Too short I guess.
I'll become n historian then.
Later maybe

[2020-08-20 16:53] joaquinelio commented on #346
new issue?
 es.js.cx’s server IP address could not be found.

 //es.javascript.info/event-delegation

2.2.3 article.md (still English)
line 14 [iframe height=350 src="bagua" edit link]

buttons:
plunker is working
new window is not:  //es.js.cx/article/event-delegation/bagua/

[2020-08-20 16:58] iliakan commented on #346
Should be ok now, is it?

[2020-08-20 16:59] joaquinelio commented on #346
that was fast 👍

[2020-08-20 17:10] iliakan commented on #346
Please also check out https://es.javascript.info/about

[2020-08-20 17:10] #346 closed

[2020-08-25 21:46] Agus-c commented on #17
URL objects

[2020-08-25 21:49] FroggyGentlemen commented on #17
XMLHttpRequest

[2020-08-25 21:53] FroggyGentlemen commented on #17
Resumable file upload

[2020-08-27 19:05] RocioC1207 commented on #17
Browser default actions

[2020-08-28 01:12] MaskeZen commented on #17
Fetch: Cross-Origin Requests

[2020-08-29 00:27] cortizg commented on #17
Alternation (OR) |

[2020-08-29 22:09] homero304 commented on #17
Dispatching custom events

[2020-08-30 05:31] joaquinelio opened #362 ""Biased bot" or "When to show online 'Translation needed' msg""
@iliakan ?
Mr Bot failed to follow this article on every step: 1) Comment, 2) PR, 3) Merge

Note: It doesn't show unescaped angle brackets **name** (so cut & paste),  issue source looks:

Didn't care.
But I wonder if the online message is related to this:
"only available in the following langs..."

Referencias inversas en patrones: \N y \k<nombre>

Now Mr Bot did it again (same user, just funny).

[2020-08-30 06:07] iliakan commented on #362
In the issue text, there's `Backreferences in pattern: \N and \k<name>`, but github "swallows" `<name>`.

* [X] [Backreferences in pattern: \N and \k<name>](https://github.com/javascript-tutorial/es.javascript.info/blob/master/9-regular-expressions/12-regexp-backreferences) (@cortizg) #356

Maybe we need to escape `< >` as `\< \>`:

* [X] [Backreferences in pattern: \N and \k\<name\>](https://gith

[2020-08-30 06:21] joaquinelio commented on #362
uh...
I know,
But it's just git and human reading / cut-pasting,
anything to do with the online message? The source angle brackets are there.

What about

[2020-08-30 06:26] iliakan commented on #362
Ok, so the first issue is with github escaping.

Now about "Este material solo está disponible en los siguientes idiomas" - is anything wrong on the website https://es.javascript.info/ ?

[2020-08-30 06:33] joaquinelio commented on #362
The comment only shows on untranslated articles...
and the translated "Backreferences in pattern: \N and \k"
So I wonder how the online site knows when an article needs translation.

Besides that, I dont care helping Don Bot when he needs it.

[2020-08-30 07:19] joaquinelio commented on #17
Alternation (OR) |

[2020-08-30 08:54] joaquinelio commented on #362
In short

If anything, the msg and the translation link to **git es...12-regexp-backreferences**
shouldn't be there, it's already translated.

[2020-08-30 09:25] iliakan commented on #362
Ok, that's a totally separate issue. Anything else?

[2020-08-30 09:55] joaquinelio commented on #362
Nothing else.

ok, I just thought the issues could be related...
if not, I can't figure out how the message knows when to show up.

thanks

[2020-08-30 10:14] iliakan commented on #362
Thanks, I'll fix them ;)

[2020-08-31 10:36] joaquinelio commented on #348
It worked
400+ files reviewed, hope few to none errors.
Then merged Spanish stream,
Then merged English stream again, normal merge with NO issues found,
7 files with conflicts and 10 automerged, (needed to review too, may have new english inserted on spanish)
Then PR.
The odd, PR claims only 75 files changed... The number I lazily marked as "ours" to solve conflicts.
I expected fewer than 400 but

[2020-08-31 10:37] #348 closed

[2020-08-31 14:15] iliakan commented on #362
Fixed!

[2020-08-31 14:15] #362 closed

[2020-08-31 15:55] joaquinelio commented on #17
uh... Bot destildó 3 articulos de c4...
de 48 left pasamos a 51
esta vez voy a esperar antes de remarcarlos.

[2020-08-31 17:23] joaquinelio commented on #17
*generators fue tomado hace exactamente 3 meses por si alguien lo quiere tomar, esperé porque ella ya había hecho una buena traducción y luego tomó este...

solo faltan este y el malefico proxy pra completar la primera seccion.

[2020-08-31 20:40] homero304 commented on #17
Cross-window communication

[2020-09-01 14:38] EzequielCaste commented on #17
IndexedDB

[2020-09-01 14:47] homero304 commented on #17
The clickjacking attack

[2020-09-01 15:52] joaquinelio opened #368 "Biased bot. Really."
@iliakan
sorry to bother you again, about your kid.
He keeps unchecking these articles,
Perhaps considering they need renaming? (note "\\")

![bot](https://user-images.githubusercontent.com/6558304/91874935-30981200-ec51-11ea-8642-f99355b0e916.png)

[2020-09-01 17:08] EzequielCaste commented on #17
Cookies, document.cookie

[2020-09-01 17:38] iliakan commented on #368
@joaquinelio Sure thanks, could you explain in few words what has happened?

[2020-09-01 18:00] joaquinelio commented on #368
just that, 3 translated articles, I check them, then bot unchecks.

I guess it is because of the \\ considering they need to be renamed.

No right in the moment I check them, but when "he" goes to edit some other thing,
last time in the moment an article was taken

all at once the bot:
* Added user (@EzequielCaste)  to article "indexedDB"
* Removed [X] from 3 articles: (maybe renamed because it er

[2020-09-01 19:51] vplentinax commented on #17
Selection and Range

[2020-09-02 12:40] nPuBuDeHuE opened #371 "Formato incorrecto"
La pagina https://es.javascript.info/logical-operators tiene el formato incorrecto en el artículo "NO"

![js-learn-es-NO](https://user-images.githubusercontent.com/20505410/91982241-60bfdd80-ed43-11ea-9e49-7cb2f46fdb3e.JPG)

[2020-09-02 14:35] EzequielCaste commented on #371
Ok gracias por informarnos.

[2020-09-02 16:25] joaquinelio commented on #371
Git no soporta markup anidados

La unica manera de revisar formatos es probando con el server local

@EzequielCaste despues me podes XXXXX porque hace 5 dias hice un commit sin doble revision,
aunque la causa era linea 225 que parece que estaba de antes

hice un patch de emergencia cierro.

[2020-09-02 16:25] #371 closed

[2020-09-02 16:28] EzequielCaste commented on #371
Soltar ...

[2020-09-02 17:31] nPuBuDeHuE commented on #371
Gracias

ср, 2 сен 2020 г., 21:28 Ezequiel Castellanos <notifications@github.com>:

[2020-09-03 05:55] mariomenjr commented on #17
ArrayBuffer, binary arrays

[2020-09-03 08:08] joaquinelio commented on #368
...oops he did it again
@iliakan , Don Bot needs vacation

User mariomenjr took an article,
then  Bot modified issue17. Again, in a single update :

1) Added user to the article, OK:
[ ] ArrayBuffer, binary arrays (@mariomenjr)

2) Removed [X] from the same 3 articles:
-Unicode: flag "u" and class \p{...}
-Word boundary: \b
-Backreferences in pattern: \N and \k

I know it's him.  It's recorded in

[2020-09-03 09:05] iliakan commented on #368
I didn't fix it yet, quite a lot of debugging after putting escapes in.

[2020-09-03 09:24] joaquinelio commented on #368
ah, ok, I though you didnt believe me, sorry =)
it's not a fatal err anyway, I'll put the X X X back.

[2020-09-04 02:32] carlosabud commented on #17
Fetch

[2020-09-04 17:28] joaquinelio commented on #17
## FALTAN 45 artículos para terminar  -

Ahora son 14 los disponibles buscando traductor

Para agilizar el avance,
estoy liberando los articulos reclamados hace más de 3 meses de autores sin aportes previos.
Disculpen que ya no intento contactarlos, con la escasez de reviewers lleva tiempo que no tengo.

[2020-09-06 12:04] joaquinelio commented on #17
Shadow DOM

[2020-09-08 08:06] joaquinelio commented on #17
Generators

[2020-09-08 08:07] joaquinelio commented on #17
Ok,  Don Bot está trabajando de nuevo.

[2020-09-08 08:12] joaquinelio commented on #368
There is a step Mr Bot miss:

Translator claims (valid) - OK
Translator claims (taken) - OK
Translator put a PR -   ?
Maint. merge a PR - OK

The problem started before your big fix, I didn't mind too much.
The important issue is solved 👍

Example:
https://github.com/javascript-tutorial/es.javascript.info/pull/374
[The clickjacking attack] | (@homero304) | 2020-09-01 | #374

[2020-09-08 21:29] RocioC1207 commented on #17
Hola, tuve un problema. Yo pedí que me asignen el articulo "Browser default actions", pero preferiría cambiarlo, ¿Podrían quitármelo? Por favor, gracias.

[2020-09-08 21:51] joaquinelio commented on #17
@RocioC1207

No problem...
Quitado.

[2020-09-08 22:13] kenliten commented on #17
Comparisons

[2020-09-08 22:15] kenliten commented on #17
XMLHttpRequest

[2020-09-08 22:18] homero304 commented on #17
Browser default actions

[2020-09-09 00:28] RocioC1207 commented on #17
Template element

[2020-09-09 18:49] iliakan commented on #368
@joaquinelio Again, what's the problem exactly?

This looks perfectly fine:
![image](https://user-images.githubusercontent.com/349336/92640663-4dce7f80-f2e6-11ea-9626-360b64c31441.png)

Or did you fix anything manually?

[2020-09-10 09:34] iliakan commented on #368
I'd like to fix that.

You mean that when translator puts a PR - nothing happens?

[2020-09-10 12:14] joaquinelio commented on #368
Exactly.

Thats why I put the verified example.
Other times they dont match case, sometimes the PR is renamed after, so it's ok they miss.

[2020-09-12 14:33] iliakan commented on #368
@joaquinelio Thank you. That's because people developing @octokit/rest just LOVE to rename methods with every release. Like no one.

I updated the method call, should work now ;)

[2020-09-12 14:33] #368 closed

[2020-09-12 14:34] iliakan commented on #368
Thank you for precise explanations of the errors :)

[2020-09-12 23:17] joaquinelio commented on #368
Experience.
I dont believe users either 🤞

[2020-09-15 02:35] homero304 commented on #17
Server Sent Events

[2020-09-15 20:14] kenliten commented on #17
Blob

[2020-09-16 19:55] AbiF73 commented on #17
Sticky flag "y", searching at position

[2020-09-16 21:37] israelone commented on #17
Me gustaria ayudar a traducir Shadow DOM and events

[2020-09-17 00:56] joaquinelio commented on #17
Bienvenido! @israelone
No problem.  Lo podría agregar a mano, pero si haces aqui un coment con solamente el nombre exacto del articulo Don Bot lo registra automaticamente y te pone 👍, lo prefiero asi para mantener registro.

[2020-09-17 00:59] israelone commented on #17
Shadow DOM and events

[2020-09-17 06:09] joaquinelio commented on #17
Bueno, falta poco. Solamente 37 artículos.

Y solo 6 disponibles para ser reclamados. Hay 2 pedidos en junio, si no tengo noticias...

[2020-09-17 13:39] EzequielCaste commented on #225
No queda claro la sección Links. Mi sugerencia:

### Links internos:

`[regular expression](info:regular-expressions)` >> se podrá traducir sólo la parte entre corchetes `[ ]`, el contenido entre paréntesis no modificar.

`<info:string>` >> No se traduce

`[#anchor]`  >> No se traduce

### Links externos:

Si el link es a Wikipedia o MDN y existe una versión en Español de calidad decente y aceptab

[2020-09-18 12:47] alfonsoluis commented on #17
Hola, quisiera comenzar con JavaScript animations

[2020-09-18 16:12] EzequielCaste commented on #17
Hola @alfonsoluis ! 👋  tienes que comentar sólamente el nombre del artículo que quieres traducir..
recomiendo copiar y pegarlo.

[2020-09-20 01:04] MrC0D commented on #17
Lookahead and lookbehind

[2020-09-20 05:24] joaquinelio commented on #225
Sí, terrible... fue otro bosquejo agendado para depurar "más adelante"

Lo gracioso... es que lo quisse esscribir para sugerir que no perdieran tiempo en traducir mdn...
Si ven links a spec o mdn, ignoren y igan adelante.

[2020-09-20 16:44] cortizg commented on #17
Catastrophic backtracking

[2020-09-20 16:55] vplentinax commented on #17
Shadow DOM slots, composition

[2020-09-20 20:14] joaquinelio commented on #17
¡Faltan apenas 34 artículos!

La mayoría fueron reclamados hace menos de dos semanas, venimos productivos.
Hay solo 5 sin reclamar:

Y estos fueron reclamados hace más de dos meses:

Pero con estos podemos esperar, si se acaban los disponibles revisamos en particular.

[2020-09-22 03:40] kenliten commented on #17
Form properties and methods

[2020-09-22 12:49] danilobrinu commented on #17
Este fin de semana vuelvo a retomar mi tema para terminarlo y enviarlo de una vez, estuve algo ocupado :D

[2020-09-22 19:10] joaquinelio opened #387 "Mr. Bot Sync PR- How it shows conflicts."
@iliakan
There are many conflicts in those files, #383
but the only one GIT treats as a conflict is the one recently added in the last ES merge,
the only one that disabled the merge button.

Use the web editor or the  to resolve conflicts.
Conflicting files
2-ui/99-ui-misc/02-selection-range/article.md

It would be nice to have the GITHUB conflicts tools for easy fixing all the conflicts,
but more

[2020-09-22 23:35] joaquinelio opened #388 "Procedimiento: Sincronización con el repo inglés"
# Comentarios sobre Merge desde repo inglés

* Es un típico pull y no hay sorpresas.
* Magia git: solo muestra las líneas recientemente modificadas en inglés, no el texto entero aunque esté completamente traducido. No percibir esto nos confundió a muchos.
* No sugiero usar el PR del bot, es ajeno a GIT y hay que verificar demasiado.
* Sugiero mantener el SYNC simple y pequeño, y así será simple de

[2020-09-23 07:56] iliakan commented on #387
For me, the "resolve" button is enabled:
![Uploading image.png…]()

[2020-09-23 14:12] joaquinelio commented on #387
I tried to show you the difference, I failed.
The resolve is only there for the ONE file merged AFTER the PR,
is not working for the 33 ones Mr.Bot found.

You can see it right there,
"Conflicting files"
2-99-2-selection-range
...
One file.

If I resolve it, merge will be enabled again.

[2020-09-23 14:23] joaquinelio commented on #387
Here.
I resolved OUR little conflict,
MERGE is enabled again

![image](https://user-images.githubusercontent.com/6558304/94025518-f7a21780-fd8e-11ea-90b1-cbada16f9d80.png)

[2020-09-23 14:34] joaquinelio commented on #387
Merge works, I dangerously pressed it... then cancel.
I put it as draft now.

[2020-09-23 14:41] joaquinelio commented on #387
github somehow treats it as normal text,
I guess merge would add >>>> ==== stuff to the files.
something is missing.

[2020-09-23 17:04] joaquinelio commented on #387
That's it.

Git is right, There are NO conflicts at all

If I MERGE, (dont worry I didnt)

NEW lines will be added, ZERO conflicts.
Those lines are yours and will not overwrite anything,
it will add odd lines

+ "<<<<<<< HEAD"
old spanish untouched text
+ "======
+ "new english text...
+ "new english text...
+ "new english text...
+ "new english text...
+ ">>>>>>  branch"

[2020-09-23 17:08] joaquinelio commented on #387
We can still safely use bot's PR,
We just need to pay MUCH attention in edition

[2020-09-23 17:24] joaquinelio commented on #388
Esto fue un parto.
No se como es un parto, pero fue un parto.

Considero que hay separar tareas.
El UPDATE es MUY FACIL ahora,
pero retraducir articulos enteros al MISMO tiempo no

@vplentinax
Rehice un articulo tuyo, presionado por hacerlo rapido y mal.  Era tuyo, tu area y estaba bien, Ilya lo reescribio, creo que lo arruine.

CREO que cuando hay un articulo rescrito,  resuelvo poniendo OURS IGN

[2020-09-23 17:33] vplentinax commented on #388
@joaquinelio No idea...

 Meses atrás hubiese investigado más este proceso pero ya tengo trabajos en my real life y poco time para invertir aquí.

😣

[2020-09-23 17:48] joaquinelio commented on #388
ug...  ; (
bue, pero me alegro que te mantengas próspera y productiva.  ; )

"proceso" no es nada nuevo, un GIT PULL comun y corriente
hoy  (arreglado) no rompe nada,

el problema ahora lo tengo con las furiosas correcciones y reescrituras de articulos de Ilya
JA!!  Era lo que me atrajo al sitio en primer lugar...

[2020-09-23 18:06] joaquinelio commented on #388
UF

Si resuelvo articulo rescrito con OURS,
entonces quien tome el articulo va a tener que revisarlo entero

...pero puede ir al sitio ingles y ver en el history las ultimas modificaciones...

me estoy convenciendo:

1) Si son pocas lineas, se resuelve conflicto,
2) Si son muchas, va al IDE, resuelve el articulo con OURS y pone un issue con ese articulo para que alguien lo modifique
 puede ser la

[2020-09-23 18:12] EzequielCaste commented on #225
que te parece si incluimos mi sugerencia?

[2020-09-23 19:54] maksumi commented on #225
@EzequielCaste yo estoy de acuerdo pero sugiero "el contenido entre paréntesis no se debe modificar".

[2020-09-23 20:11] maksumi commented on #17
Sigo vivo @joaquinelio, aún no me quites mis artículos plis
jeje

[2020-09-23 20:37] joaquinelio commented on #225
si ok, esta bueno, ponelo
es que me acorde que no es glosario, tenemos la guia de traduccion que ya  algo de eso comentaba y no supe si seguir aca y deje solo lo de mdn...

que esté en los dos lados no hace mal tampoco,

[2020-09-23 20:39] joaquinelio commented on #225
ALEX????

ey, te estaba por mandar un wasáp!!
todo bien?

[2020-09-23 20:54] joaquinelio commented on #17
!!
ah, no, ya sabes
hace un tiempo "alguien" sugirio multa para financiar a los que sí traducian...

[2020-09-23 21:39] maksumi commented on #17
De cuánto nos toca @joaquinelio ?

[2020-09-30 23:14] joaquinelio commented on #225
helper functions?
en algun lado lo vi como "funciones de soporte",
son funciones que ayudan a otras funciones asi que "de ayuda" tampoco estaria mal
agregarelo quien hubierelo manejado en comunidad  plis

[2020-10-02 01:39] homero304 commented on #17
Fetch API

[2020-10-02 10:53] joaquinelio opened #395 "Hay un svg dañado en "Debugging en Chrome""
La pagina muestra en la tercera imagen:
article/debugging-chrome/chrome-sources-breakpoint.svg: Command failed: Error reading SVG

corresponde al articulo
1-js/03-code-quality/01-debugging-chrome

[2020-10-02 10:56] joaquinelio opened #396 "Traducción incompleta. 1-6-1 recursion, falta la traducción de las tareas."

[2020-10-02 12:16] danilobrinu commented on #17
Methods of RegExp and String

[2020-10-02 19:12] maksumi commented on #17
Keyboard: keydown and keyup

[2020-10-05 09:28] Arnau-Ninerola opened #399 "Add the hacktoberfest topic to repository"
Me gustaría ayudar a traducir y corregir algunas de las secciones. Estoy participando en la Hacktoberfest y para que estos pull requests me cuenten como válidos necesitas añadir "hacktoberfest" como tópico del repositorio. Si lo añades voy a hacer mas contribuciones y es una buena manera para que venga más gente a ayudar.

Aquí cómo hacerlo: https://hacktoberfest-assets.nyc3.cdn.digitaloceanspaces

[2020-10-05 10:55] joaquinelio commented on #399
Todos son bienvenidos a colaborar...
pero creo más en el incentivo altruista que el de un premio dado por una empresa comercial que usa  plataformas open source.

¿Alguien tiene alguna  conocimiento u opinión sobre esto?
No me siento con autoridad para cerrarlo, pero no tengo ganas de aumentar el riesgo de PR descuidados.... Y la carga de los maintainers.

[2020-10-05 14:58] Arnau-Ninerola commented on #399
Aunque entiendo perfectamente tu razonamiento, Hacktoberfest es un evento que se realiza cada octubre y ya llevan 7 años haciéndolo. Es una buena manera para atraer a gente a colaborar en proyectos o para hacer conocer el mundo de open source a aquellos programadores principiantes, intentando hacer que se sienten cómodos y motivándolos a colaborar.

¿Si el fin es que se realicen más contribuciones

[2020-10-05 16:53] maksumi commented on #399
Hola @Arnau-Ninerola. Mil gracias por la propuesta.
Honestamente, y de manera abierta lo digo, todo iba bien hasta que entró la condicional: "si lo añades voy a hacer más contibuciones". Justo en ese punto entra lo que comenta @joaquinelio, todos son bienvenidos a colaborar, pero justo al ser un proyecto OS que después de haber estado estancado un buen tiempo llegó mucha gente sin saber bien sin i

[2020-10-05 17:03] vplentinax commented on #399
Concuerdo con @maksumi  y @joaquinelio . Al decir "si lo añades"... nos condicionas. Si desean colaborar, lo pueden hacer abiertamente. De resto, habla personalmente con @iliakan  en su repositorio original, que es el de inglés. @Arnau-Ninerola

[2020-10-05 17:27] Arnau-Ninerola commented on #399
Hola @maksumi, entiendo perfectamente lo que dices y puede que la manera en la que lo escribí de a malinterpretaciones, así que voy a intentar explicarme mejor. A lo que me refería es que con el actual evento pues quiero dedicar mi tiempo este mes en contribuir a repositorios que cuenten para Hacktoberfest. Evidentemente todos disponemos de tiempo limitado y estamos ocupados, pero sí quiero partic

[2020-10-05 17:29] iliakan commented on #399
Done.

[2020-10-05 17:29] #399 closed

[2020-10-05 18:24] joaquinelio commented on #399
Hi @iliakan
Do you know about the project?
We 3 didn't discuss this, but the 3 separately opined against it so no one added the topic.

I want to contribute to open source and any festivity related to, but I don't have the extra time.
Yes, maybe we are selfish.

Anyway the risk of "spam" entire translation is very, veeeery low =)

[2020-10-05 18:27] iliakan commented on #399
@joaquinelio As I understand it, the tag is needed for hacktoberfest people to contribute. And that's all, it doesn't force us into anything.

Is that correct?

[2020-10-05 18:27] joaquinelio commented on #399
What we need is reviews, and maybe this attract some. fixing typos mostly.

[2020-10-05 18:32] Arnau-Ninerola commented on #399
That's correct @iliakan , this tag is only needed for people participating in it, that is all. Everything else works the same as always.

[2020-10-05 18:44] joaquinelio commented on #399
@iliakan
-Previous comment wasnt not related to your question.-

I dont know. I was open to it, I didnt research too much.
I was afraid of the extra work and low quality PR.
We need more committed work

It's just a feeling.
Seems nice, but how DigitalOcean contributes?  Just adding extra work to unpaid maintainers.
So I asked for opinions.

[2020-10-05 19:01] joaquinelio commented on #399
"After some discussion, they have indicated to me..."
Ha ha!!
that was't very honest...
"some discussion" we opined against.

You may fix this @Arnau-Ninerola, doing some commited work on november

Welcome to the repo.
=)

[2020-10-05 19:03] EzequielCaste commented on #399
All I've heard from the web is that there are many people complaining about many randon nonsense (not really contributing) PRs due to this hacktoberfes thing.

The spam the PRs with comments and that way they "earn points" for a hacktober fest t-shirt....

Not worth it.
IMO

[2020-10-05 19:13] Arnau-Ninerola commented on #399
@EzequielCaste well it is true that it might bring some spam, but that could happen without the event going on. I still believe that having more people contributing to the project is a good thing. On the other hand, PRs that are spam and are not merged **DONT** count to earing points or anything. Hacktoberfest has very clear rules that on top of everything they want quality not quantity.

@joaquin

[2020-10-05 19:36] joaquinelio commented on #399
"all the comments" untrue.

Again.  It's ok. But
the risk falls on us,
we were discussing it,
and you didnt mention "against" in "discussing it"  : (

I just don't know enough about the project and consequences.
Again, it may be good.

hahaha!
We spent more time with this than with the spam it surely will not come.

enjoy the festivity
=)

[2020-10-05 19:40] Arnau-Ninerola commented on #399
I understand that you may have an increased workload with low effort PRs. That is not my intention. Thanks for considering that it can be good.

Yes! You are right. Thanks again, I enjoy this yearly event :D

[2020-10-05 20:17] iliakan commented on #399
Well, guys, let's just see what happens ;)

[2020-10-05 20:18] iliakan commented on #399
I personally have no expectations good or bad, just never had experience with hacktoberfest.

[2020-10-05 20:20] joaquinelio commented on #399
Should we add "contributors wanted" somewhere?
Is it automatically listed somewhere?
Didnt read about.

[2020-10-05 22:22] joaquinelio commented on #399
I'm not against "low level PR" and I dont want to mention it this way,
we all start low and we all may have some flaws, then improve with the help of the community.
Visibility is a good thing, I was just uncomfortable with quality related to the motivation.

[2020-10-06 07:04] iliakan commented on #399
@EzequielCaste @joaquinelio @maksumi @vplentinax I'm sorry I didn't read the discussion in this issue.

My Spanish is only basic, I mostly rely on google translate. So I was mentioned, came here and only read the original request.

For us, the quality is the basic requirement, that's for sure.

Still, I suppose we can remove the tag any time, right? Quite an easy thing to do.

Also, I guess hackto

[2020-10-06 08:16] joaquinelio commented on #399
It's ok
I was reading some.
I agree, it will have little impact here. Unless we gain more visibility.

We are exposed anyway.  If you look for points you need :
tag and approved PR ,
OR  approved PR with hacktoberfest specific name.

The spirit is good, most of developers there participate with enthusiasm.
But some may be looking for easy points,  a PR fixing a typo is enough, explicit rules.

If

[2020-10-06 17:27] maksumi commented on #399
Dejando atrás los malentendidos y pensando esto en pro bilateral, te animamos a tomar un **artículo entero** sin traducir de [la lista](https://github.com/javascript-tutorial/es.javascript.info/issues/17). También **te damos la bienvenida al repo en español**, te invitamos a darte una vuelta por el **README** del repo y a que ingreses al **Discord** del equipo (encontrarás el link en el README) pa

[2020-10-06 17:50] Arnau-Ninerola commented on #17
Forms: event and method submit

[2020-10-07 03:01] homero304 commented on #17
Node properties: type, tag and contents

[2020-10-07 07:46] joaquinelio opened #402 "Actualizar: 1-2-12 Nullish coalescing operator fue rescrito en inglés y necesita retraducción"
Hay varios conflictos que no puedo cubrir dentro de un sync,
https://github.com/javascript-tutorial/es.javascript.info/tree/master/1-js/02-first-steps/12-nullish-coalescing-operator

Quien la tome, en lugar de retraducir todo,  puede ver los últimos cambios
con el commit history o
con el "blame" en inglés que muestra la fecha/autor de cada linea.
https://github.com/javascript-tutorial/en.javascrip

[2020-10-07 07:58] joaquinelio opened #403 "Varios cambios en versión inglés 1-4-7 optional chaining, necesita retraducción"
Hay varios cambios reciente, quizas menores pero demasiados para tratarlos dentro de un sync

https://github.com/javascript-tutorial/en.javascript.info/blame/master/1-js/04-object-basics/07-optional-chaining/article.md

Dejo nuestra versión online, pero habria que revisarla.

[2020-10-07 08:15] joaquinelio opened #404 "Articulo 1-5-4 arrays, texto nuevo en inglés por traducir"
No es mucho pero supera lo abarcable en un sync.
Es identico hasta linea 433

Texto agregado en inglés desde la linea 433 hasta "summary"

y modificación en linea final y añade un par.

Sugiero ir al "blame" ingles, no hace falta revisar todo el diff

[2020-10-07 08:46] joaquinelio opened #405 "solucion 1-6-3/10 closure/make-army/solution Revisar diferencias *** DRAFT *** Esperar hasta que se resuelva sync 406"
**_EDIT
Esperar al susy #406, probablemente se resuelva alli_**

El conflicto merge muestra el archivo entero, no revisé el porqué.

amerita revision completa
no creo que el blame ayude mucho aca:
https://github.com/javascript-tutorial/en.javascript.info/blame/master/1-js/06-advanced-functions/03-closure/10-make-army/solution.md

[2020-10-07 09:59] #405 closed

[2020-10-07 10:30] joaquinelio opened #407 "Traducir ejercicio de 1 9 3 3 static-properties-methods"
1-js/09-classes/03-static-properties-methods/3-class-extend-object/

lo agregó una vieja sync, hay que traducirlo

[2020-10-07 10:39] joaquinelio opened #408 "class-inheritance IMPORTANTE, el art traducido tiene mucho texto en inglés -online-"
1-js/09-classes/02-class-inheritance/article.md
EL SITIO tiene mucho texto ingles

no revise si fue una sync (texto agregado para traducir) u original ingles (que haya que borrar)
tampoco revisé los ejercicios

[2020-10-07 14:25] danilobrinu commented on #17
Styles and classes

[2020-10-07 20:38] joaquinelio commented on #404
resuelto
merge pendiente @Arnau-Ninerola el hub no me deja asignarselo buh.

[2020-10-08 02:01] joaquinelio commented on #404
done #410

[2020-10-08 02:01] #404 closed

[2020-10-08 02:04] joaquinelio commented on #396
done #409

[2020-10-08 02:04] #396 closed

[2020-10-08 17:42] joaquinelio commented on #407
#412 aprobado

[2020-10-08 17:42] #407 closed

[2020-10-10 00:22] ddanielcruzz commented on #17
Modifying the document

[2020-10-10 18:56] devmaufh commented on #17
Focusing: focus/blur

[2020-10-11 03:40] joaquinelio commented on #408
Me lo autoasigné...

[2020-10-11 06:01] joaquinelio commented on #408
pr #417

[2020-10-11 06:01] #408 closed

[2020-10-11 06:28] joaquinelio commented on #403
Viendo...

[2020-10-11 06:28] #403 closed

[2020-10-11 11:02] #395 closed

[2020-10-12 20:05] joaquinelio commented on #225
**BUILT-IN**   rediscutirla ?
"incorporada"
es lo que usamos hasta ahora, seria "correcto" aunque en mi opinion muy facil de malinterpretar, las bibliotecas de 3ros tambien incorporan funciones
"integrada"
me gusta más, no se por qué, me da idea de que ya esta ahi, no incorporado posteriormente en una biblioteca extra... "built-in" ="integrada" me parece muy bien
"nativa" me parecia perfecta pero

[2020-10-15 03:35] homero304 commented on #17
Fetch: Download progress

[2020-10-17 04:08] MoisesTR commented on #17
Fetch
Buenas me pueden asignar este? aun no se encuentra traducido!

[2020-10-17 06:01] joaquinelio commented on #17
@MoisesTR
fetch fue pedido por   @carlosabud  hace algo más de un mes.
Solemos -arbitrariamente- esperar un tiempo.  Estoy liberando los que cumplen dos meses sin respuesta y sin actividad en el repo. Salvo que avisen que lo siguen viendo

Quedan muy pocos sin asignar, si se acaban supongo que lo adecuado es aumentar el índice neurótico obsesivo y reducir el lapso de espera.

[2020-10-17 06:23] joaquinelio commented on #17
Pego la lista (sin asignados en octubre y filtrada, ordenada por fecha) con nombres para que llegue mención

Sin asignar

[Element size and scrolling]
[Drag'n'Drop with mouse events]
[Shadow DOM styling]

Pedidos en AGOSTO

[Custom elements]	(@Leired7)	2020-08-03
[WebSocket]	(@george28cs)	2020-08-04
[Fetch: Cross-Origin Requests]	(@MaskeZen)	2020-08-28

Pedidos en SETIEMBRE

[ArrayBuffer, binary a

[2020-10-17 13:00] MaskeZen commented on #17
En estos días subo mi sección.

[2020-10-17 18:03] MoisesTR commented on #17
Entiendo, en ese caso me puedes asignar este Shadow DOM styling?

[2020-10-17 18:40] danilobrinu commented on #17
Solo necesitas poner un comentario con el titulo del tema para que el bot te asigne ese issue/ticket.

Sugerencia: copy y pega tal cual esta.

[2020-10-17 19:57] MoisesTR commented on #17
Shadow DOM styling

[2020-10-19 15:39] kenliten commented on #17
Yo ya casi termino el mio, he tenido que consultar MDN por varios terminos.

[2020-10-19 15:45] Leired7 commented on #17
Hola,

Yo ando muy liada y no voy a poder traducir [custom elements]. Me gustaría
liberarlo.

Un saludo, gran trabajo

Leire

El lun., 19 oct. 2020 17:40, Otoniel Reyes Galay <notifications@github.com>
escribió:

[2020-10-19 16:54] joaquinelio commented on #17
Ok.
Y es buen trabajo porque cada uno aportó lo suyo
y entre ellos el tuyo,  así que gracias Leire.

Salud
Elio

[2020-10-20 00:35] lgabrielvleon commented on #17
Element size and scrolling

[2020-10-20 03:58] kenliten commented on #17
Drag'n'Drop with mouse events

[2020-10-20 04:00] kenliten commented on #17
Hoy no hay sueño así que voy a traducir este y puede que luego el que falta por asignar, si nadie lo ha tomado todavía.

Saludos!

[2020-10-22 20:48] iliakan commented on #399
For the English repo I started to see really bad quality PRs. I guess it may be the result of the hacktoberfest, so I removed it thre and here too.

P.S. Actually, this tag isn't needed. A merged PR labelled with hacktoberfest-accepted counts too for them.

[2020-10-22 21:45] Arnau-Ninerola commented on #399
I think that's smart to remove it then. Since bad quality PRs ruin the experience and add a lot more work to you guys. And what you say is true, adding the label "hacktoberfest-accepted" works as well too. Anyways it's not many days left in the month but if anyone wants their PRs to count should we just ask the maintainers to add them with a comment on the PR?

[2020-10-22 22:21] iliakan commented on #399
If the PR is worthy and merged, then we can add the label. As of now, looks like all PRs are crappy (for English).

[2020-10-23 12:38] joaquinelio commented on #399
It's ok.
The stubborn Arnau did good 👍

I didn't like the origins. It's a big campaign from Digital-Ocean, it gets a lot of attraction for free.
I read about, all the burden falls in open source maintainers and the company does nothing.

Coders, they look happy. I wish I was half century younger.

[2020-10-23 16:45] ManudeQuevedo commented on #17
Hola! Estoy empezando a contribuir y me gustaría traducir la sección de Custom Elements.

[2020-10-23 17:13] joaquinelio commented on #17
Güenas @ManudeQuevedo
Pones un comentario aquí con el titulo exacto y nada más,  Custom Elements  y el bot lo registra
Y dale una leida al readme.md

[2020-10-25 19:08] carlosabud commented on #17
@joaquinelio listo el PR de fetch. Disculpen la demora.

[2020-10-25 20:22] joaquinelio commented on #17
Gracias  @carlosabud
y nada que disculpar, no estamos en una carrera.

Pongo cada tanto la lista porque ya no quedan articulos sin tomar, (uno solo y casi)
solo busco alguna pauta para no desperdiciar voluntarios,
arbitrariamente libero los tomados hace más de dos meses salvo que tenga alguna novedad del traductor.

[2020-10-30 12:42] Giorgiosaud commented on #17
Custom elements

[2020-10-30 18:37] joaquinelio commented on #17
Quedan *19* artículos por traducir  ( 3 de ellos con PR )

Y -todos- los artículos quedaron tomados  (!)
Por un rato al menos.  Libero, con sana arbitrariedad, dos tomados en agosto.

Ya podríamos ir considerando los insanamente largos proxy e indexeddb...

[2020-11-03 02:54] joaquinelio opened #439 "Actualizar: 1-4-7 optional-chaining article -- Varios cambios en inglés por revisar"
Esp
https://github.com/javascript-tutorial/es.javascript.info/blob/master/1-js/04-object-basics/07-optional-chaining/article.md

editado:
varias lineas agregadas,
nros lineas trastocadas que habria que arreglar
codigo ejemplo modificado
parece que conviene usar diff

* Quien tome este art que ponga un comentario abajo para que no lo tome otro.

[2020-11-03 03:05] joaquinelio opened #440 "Actualizar: 9-16 regexp-sticky article -- Revisar. Reescrito en inglés"
No tomar este issue hasta que se haga merge #424

Quien tome este issue que deje un comentario para que no lo tome otro.

[2020-11-10 21:53] vplentinax commented on #17
Alternation (OR) |

[2020-11-10 21:54] vplentinax commented on #17
Alternation (OR) |

[2020-11-13 07:06] joaquinelio commented on #439
más cambios y lineas trastocadas,
quizas convenga el diff...

[2020-11-13 07:21] joaquinelio opened #442 "Actualizar: 1-11-6 promisify article, porcos cambios en ingles que hay que revisar"
1-11-6 promisify article

varios cambios,
pero no como para rehacerlo. Sugiero ver history o blame del ingles

*Quien lo tome que deje plis un comentario para que no lo tome otro

Edit:
Porcos cambios es typo :pig:

[2020-11-13 07:28] joaquinelio opened #443 "1-8-1 prototype inherit -- necesita actualizar traducción -- pocos cambios"
1-8-1 prototype inherit
	solo 2 cambios muy localizados, varias lineas
	Sugiero ver history o blame del ingles

*Quien lo tome que deje plis un comentario para que no lo tome otro

[2020-11-16 05:43] joaquinelio commented on #443
Autoasignémelo...

[2020-11-16 07:01] #443 closed

[2020-11-18 00:26] joaquinelio commented on #17
WebSocket

[2020-11-26 00:30] joaquinelio commented on #17
No quedan artículos libres.
Si no responden a la mención, puedo liberar los tomados antes de octubre y sin PR

Artículo | Traductor | Fecha | PR

[Proxy and Reflect] | (@maksumi) | 2020-07-25 |  
[Modifying the document] | (@ddanielcruzz) | 2020-10-10 |  
[Element size and scrolling] | (@lgabrielvleon) | 2020-10-20 | #433
[Drag'n'Drop with mouse events] | (@kenliten) | 2020-10-20 |  
[Keyboard: ke

[2020-11-26 10:05] kenliten commented on #17
Hola @joaquinelio!

En primer lugar, estoy aquí, tuve algunos inconvenientes como el deceso de mi OpenSuse, y con él todos mis archivos, pero hace un par de días volví a instalar todo mi stack, y volví a traducir algunos de los archivos que tengo asignados, como el task y el solution de form properties y algunos de los de Drag'n'Drop.

En segundo lugar, pues tengo una pregunta, ¿tengo que volver a

[2020-11-26 10:28] joaquinelio commented on #17
Hola @kenliten !

1  apologies por el deceso... Y la pérdida de datos (uso dropbox para docs y fuentes, todo lo demas lo tengo en google). pero sospecho que fue el hardware (no voy a sugerir que fue el admin). Y claro no fue falla del so.

2 si es el mismo branch, cuando hagas el push se va a actualizar el pr.  igual si haces un nuevo branch con los archivos no me molesta.
Para un nuevo articulo,

[2020-11-26 10:35] kenliten commented on #17
@joaquinelio creo que sí, tuve que cambiar el hard drive, era un hdd, hasta ahora creo que esa fue la causa del problema, pero bueno, me pasa por no respaldar en la nube, solo me quedaron los proyectos que tengo en Github y unos pocos en Bitbucket, pero bueno, con lo segundo, pues no sé si usar ahora la excusa del (corto) tiempo que llevaba sin trabajar con esto, pero se me olvidó cambiar de branc

[2020-11-26 12:23] joaquinelio commented on #17
@kenliten
NO hay apuro, todo esto es voluntario,
cata tanto pongo la lista porque creo que es nuestra responsabilidad revisar si un art está definitivamente olvidado para permitir a otros tomarlos
Como se acabaron, ahora reviso más seguido.

[2020-11-26 13:12] Arnau-Ninerola commented on #17
Puedes liberar mi traducción, ahora mismo ando un tanto liado con el trabajo.

[2020-11-26 13:53] kenliten commented on #17
@joaquinelio lo sé, me gusta colaborar, aunque por ahora lo mejor que pu do hacer es traducir, pero pronto espero poder hacer más

[2020-11-26 14:09] lgabrielvleon commented on #17
Porfavor mantenme voy a empezar a revisar cree el PR y salieron varias observaciones levanto las obs. y vuelvo a mandar a revisión

[2020-11-26 15:57] joaquinelio commented on #17
hola @lgabrielvleon, no hay peligro,
no pienso remover algo que ya tiene un pr, todo trabajo es para usarlo,
gracias por el aporte

[2020-11-26 19:29] ddanielcruzz commented on #17
@joaquinelio Hola, yo tendré el mío listo la próxima semana :)

[2020-11-27 01:39] vplentinax commented on #17
@joaquinelio No liberes los que tengo tomados yo. Voy poco a poco, pero sigo aquí.

[2020-11-27 01:58] joaquinelio commented on #17
Ni se me ocurriría a quien levantó el repo...

[2020-12-09 20:14] puntope commented on #17
Hola buenos días,

Me gustaría apoyar con la traducción de

https://github.com/javascript-tutorial/es.javascript.info/tree/master/2-ui/4-forms-controls/4-forms-submit

[2020-12-09 20:17] puntope commented on #17
Forms: event and method submit

[2020-12-19 22:37] joaquinelio opened #457 "Actualizar: 1-3-6-article polyfills fue reescrito en inglés"
Muchos cambios, pero es un art muy corto (un centenar de lineas)

[2020-12-21 17:45] joaquinelio opened #459 "Actualizar: 7-2 css-animations art. Varios cambios"
Varios cambios menores,
nada drástico pero hacen a la fluidez y comprensibilidad

sugiero ver commit history del ingles.

Quien lo tome que se lo asigne si puede y deje comment aca abajo

[2020-12-21 17:57] joaquinelio opened #460 "Actualizar: 5-5 fetch Cross-Origin art. Varios cambios menores"
El cambio importante es de definición  "simple/no-simple" por "safe/unsafe"

sugiero ver el "commit history" del inglés,
y ayudarse luego buscando "simple" que se hubiera escapado y ver si cabe el reemplazo

Quien lo tome, que DEJE COMENTARIO acá abajo para evitar superposición.

[2020-12-21 18:03] joaquinelio opened #461 "Actualizar: 2-99-2 selection-range art. Varios cambios"
varios cambios menores

sugiero ver el "commit history" del inglés

Quien lo tome, que DEJE COMENTARIO acá abajo para evitar superposición.

[2020-12-21 18:06] joaquinelio opened #462 "Actualizar: 1-5-8 weakMap-weakSet art. algunos cambios menores"
conté 8 cambios

sugiero ver el "commit history" del inglés

Quien lo tome, que DEJE COMENTARIO acá abajo para evitar superposición.

[2020-12-21 18:14] joaquinelio opened #463 "Actualizar: 1-5-7 map-set (art). Pocos cambios menores"
cambia en 4 puntos, parecen ser añadidos
sugiero ver el "commit history" del inglés

[2020-12-21 20:02] joaquinelio opened #464 "Actualizar: 1-5-6 iterable (art). Poco cambio, revisar numeración"
No marca mucho cambio, pero probablemente haya un problema de numeración
y no coinciden.

sugiero ver el "commit history" del inglés (dos o tres diferencias)
y también hacer diff con master ingles para corregir linea

[2020-12-27 06:19] matiasfha commented on #17
Puedo traducir
Polyfills and transpilers

[2020-12-27 06:59] joaquinelio commented on #17
@matiasfha
Bienvenido!!
si escribis un comment acá con unicamente el nombre exacto del art., el bot te lo asigna.

[2020-12-27 07:29] joaquinelio commented on #17
`OTRA FORMA DE COLABORAR`

Todavia se puede colaborar: El inglés se mantiene actualizado y cada tanto hago un merge:
-si el conflicto es simple lo corrijo o descarto
-pero si son varios cambios o no me siento capacitado para un arreglo rápido los descarto y lo pongo como issue con titulo "Actualizar:..."

La diferencia es que hay que revisar con respecto al repo ingles,
-si es poco conviene mirar

[2020-12-27 14:14] matiasfha commented on #457
Yo puedo revisarlo!

[2020-12-27 20:46] Albertobar94 commented on #17
Shadow DOM and events

[2020-12-27 20:48] Albertobar94 commented on #17
Async iteration and generators

[2021-01-08 02:08] Sourcec80 commented on #17
ArrayBuffer, binary arrays

[2021-01-16 07:24] joaquinelio opened #471 "Actualizar: 1-6-10 bind article, alguna inconsistencia no registrada"
hay algun cambio que no fue registrado
porque la numeración esta muy desplazada entonces el merge inglés tira cualquier cosa

[2021-01-18 11:38] joaquinelio commented on #17
@vplentinax , agregué un texto al principio del readme,
opina plis

[2021-01-22 16:04] joaquinelio opened #476 "[ ]( mdn:... ) format, spanish ruined."
Hi @iliakan

`prototype-inheritance   290...    [](  mdn:js/Object/hasOwnProperty  ) `

tries to go to
https://developer.mozilla.org/es/docs/Web/JavaScript/Reference/Global_Objects/Object/hasOwnProperty
you get:

[code]

Now, once there, you CAN select ES,
but the url is translated too !!!
".../Referencia/Objetos_globales/..."
https://developer.mozilla.org/es/docs/Web/JavaScript/Referencia/Objetos

[2021-01-22 18:45] iliakan commented on #476
Just insert the full URL?

[2021-01-22 18:45] #476 closed

[2021-01-22 21:43] joaquinelio commented on #476
buh...  hoped for magic
It worked pretty well while worked...

[2021-01-22 22:57] joaquinelio commented on #476
@vplentinax
formato link [ ... ](mdn: ...  )  no es confiable, hay que testear y traducir a full link

Antes, si fallaba EsP saltaba al ENG (admito que probé mal, podría haber habido esp que igual no se encontrara),
Pero ahora, haya o no traduccion, los links que no coinciden dan error.

* Muchos aún funcionan.
* Definitivamente fallan  los   .../Javascript/Reference/... , hay 22   ***veré***
* En

[2021-01-28 13:59] joaquinelio opened #478 "Los pseudolinks MDN: fallan. Revisar / corregir todos los links a MDN con formato [ *** ]( mdn:*** )"
Ilya me cerró el isuue

pero reabro porque soy perezoso y corregí solamente los del artículo "proxy"
hay varios en todo el repo por revisar.

Fallan muchos con err 404
* si no hay version en español
* si la hay pero tambien está traducida la URL

hay que encontrar la url en ingles adecuada, ejemplo
[code]
es importante por lo menos corregir esto
pero si es posible poner el link español si la url f

[2021-02-04 06:12] joaquinelio opened #480 "Need to check internal links [ ] ( info : # )"
search for "(info:" with "#" inside,
"#" parts are in fact translated titles and need to be recoded,

---

@iliakan, a question
just found some spanish broken links
This is weak.
How does it work?

should I translate it?
[code]
(crazy, and needs the local server to translate it properly)

or the problem is the lack of English  anchor  [#  ]  ?
actual:
`## Cloning and merging, Object.assign
`

[2021-02-04 12:57] joaquinelio commented on #480
Just realized I can use regex inside VSCode

 `info:.+#`   only16 links to test

the correct fix is to add [# ] in the target file,

[2021-02-04 12:57] #480 closed

[2021-02-04 13:45] vplentinax commented on #17
Lo veo bien Joaquinelio.
¿Qué haremos con los artículos tomados y quienes sus contribuidores no aparecen?
Contribuidores: Si creen que no pueden continuar con su contribución, por favor, avisarnos para liberar artículos.

 Lookahead and lookbehind (@MrC0D )
 Catastrophic backtracking (@cortizg )
 Shadow DOM and events (@Albertobar94 )
 Custom elements (@Giorgiosaud )
 IndexedDB (@EzequielCaste )

[2021-02-04 13:47] Albertobar94 commented on #17
Hola Equipo! Para este fin de semana me comprometo a realizar la
traducción.

Seguiré los pasos del README.. un saludo!

On Thu, 4 Feb 2021 at 10:45 Valentiina VP <notifications@github.com> wrote:

[2021-02-04 13:50] vplentinax commented on #17
¡Perfecto!
Sólo queremos saber quienes siguen activos. No te preocupes, hazlo cuando puedas!. Un saludo!

[2021-02-04 15:33] joaquinelio commented on #17
liberé uno porque el usuario se volvio ghost...  (cuenta borrada de github)
es cortito si alguno tiene ganas

aunque sería lindo que se den una vuelta por los issues "actualizar"

[2021-02-07 04:03] joaquinelio opened #483 "Actualizar: Traducción de svg"
se agregaron/reemplazaron algunos svg,
en algún momento habrá que rehacer el proceso

[2021-02-08 20:45] #478 closed

[2021-02-09 22:23] victorovento commented on #17
ArrayBuffer, binary arrays

[2021-02-14 04:19] joaquinelio commented on #402
* tomado *

[2021-02-15 21:25] joaquinelio commented on #439
arreglads en sync

[2021-02-15 21:25] #439 closed

[2021-02-16 00:04] joaquinelio commented on #17
[code]
Hace tiempo que no verificamos esto, ¿puedo borrar 2020 sin esperar respueta?
El que avisa compra tiempo de inmunidad al borrado...

NO estamos apurando, solo verificar si ya dijeron I give up
asi lo sigue alguna otra persona - o persono

[2021-02-16 12:13] vplentinax commented on #17
@joaquinelio Si, libera los del 2020. Perdo deja el mio y el de @Albertobar94  que fue el único que se reporto para decir que sí está activo.

[2021-02-16 17:05] joaquinelio commented on #17
@vplentinax
Bueno, pero defendeme si aparece de nuevo @EzequielCaste y se enoja conmigo...

[2021-03-03 00:37] lizzie136 commented on #48
Esta conversación ya tiene un par de años abierta. Voy a darla por cerrada ya que las personas que están contribuyendo en este momento tienen su propio flujo de trabajo.

[2021-03-03 00:37] #48 closed

[2021-03-06 09:05] iliakan commented on #483
There's a mechanism for SVG translation. Let me know if you'd like any details.

[2021-03-06 09:07] iliakan opened #488 "Publishing"
Hello,

How about to publish the current translation? Seems it's 80%+ finished.

[2021-03-06 09:28] iliakan commented on #488
@joaquinelio if you agree, I can start working on it.

[2021-03-06 11:47] joaquinelio commented on #488
@iliakan
Ehmm...
Maybe this comment is aimed to the unpublished French repo?

@joaquinelio if you agree, I can start working on it.

Thanks for your interest anyway, I don't feel lonely anymore.

[2021-03-06 11:55] iliakan commented on #488
@joaquinelio =)

Great! I'll post the UI phrases here then later today.

[2021-03-06 12:37] joaquinelio commented on #483
I just put the issue as a to-do task.

TL DR
You know, there is not much activity here.
Right now, we lack translators.
I force myself in keeping sync updates under control (I cannot say up to date)

To avoid large sync merge PR with large reviews NOBODY wants,
I discard the biggest changes and put them as issues.
One issue, one article. Easy to check via commit history, easy to REVIEW.

The probl

[2021-03-06 12:52] joaquinelio commented on #488
I didn't get this.

spanish https://es.javascript.info/ is online and working
wath d you mean UI phrases?

[2021-03-09 09:24] iliakan commented on #488
I mean publish the ebook, sorry for not making myself clear.

50% of the money goes to active translation maintainers (Spanish version isn't as visited as English now, but hopefully more people will read it and support the project).

Translate this please.

[es.zip](https://github.com/javascript-tutorial/es.javascript.info/files/6107401/es.zip)

[2021-03-09 10:54] joaquinelio commented on #488
oh. I see

Mmm...
Would you post some context in the text to translate?
ie the English page where the text is, it would help.

specifics
"built at"  refers to the ebook, I guess?  Can't figure out where does it point to.

[2021-03-09 10:56] iliakan commented on #488
Yes, most phrases are from https://javascript.info/ebook.

"Built at" is inside the epub/pdf file, says when the book was built from the text source.
So that a person may see if it's up to date.

[2021-03-09 11:21] joaquinelio commented on #17
IndexedDB

[2021-03-09 18:44] iliakan commented on #488
Thanks!

Please also this one.
[en.yml.zip](https://github.com/javascript-tutorial/es.javascript.info/files/6110753/en.yml.zip)

[2021-03-09 20:14] iliakan commented on #488
I think:

[code]

[2021-03-09 20:53] joaquinelio commented on #488
[en.zip](https://github.com/javascript-tutorial/es.javascript.info/files/6111284/en.zip)

The country EE.UU. or EUA
For money I like USD better,  (line 33 in  the first zip?)
I dont feel comfortable with $, ARS use same symbol (peso).
It's clear anyway,
it's OK

[2021-03-10 15:21] vplentinax commented on #488
@joaquinelio ¿Podrías explicarme de qué trata?

[2021-03-10 15:30] vplentinax commented on #488
I've seen it, I see the translation well. Whatever is needed, let me know. @joaquinelio @iliakan

[2021-03-10 16:12] vplentinax commented on #488
I think
payment_for: Pago por

[2021-03-10 17:04] #402 closed

[2021-03-10 17:05] #440 closed

[2021-03-15 12:25] joaquinelio commented on #488
I apologise
1) I missed "stripe" as if it were a name  -> "Tarjeta".  Where is it? Found a "Pay with Stripe", changed. "Pago con tarjeta"

2) I'd use "u$d", (or the finantial ISO sandard "USD").  Our symbol for peso ARS is the same " $ ".

[es.zip](https://github.com/javascript-tutorial/es.javascript.info/files/6141247/es.zip)

3) no sample to download buh

[2021-03-15 12:48] iliakan commented on #488
Stripe is a payment system, payment with card.
3. There's an sample to download, here:
![image](https://user-images.githubusercontent.com/349336/111155747-e7346200-85a5-11eb-83e1-21416b48afbd.png)

[2021-03-15 13:58] joaquinelio commented on #488
1) ok

3) no, there is not
Page not found, sorry.
If you are sure it must be here, please write at our github.

[2021-03-15 15:15] #387 closed

[2021-03-16 00:35] joaquinelio commented on #17
Modifying the document

[2021-03-16 13:39] dbritto-dev commented on #17
Keyboard: keydown and keyup

[2021-03-19 01:42] joaquinelio commented on #17
Custom elements

[2021-03-27 19:00] #442 closed

[2021-03-28 04:02] joaquinelio commented on #457
uh, lo terminé.
No es que estuviera apurado, habiendo tantos issues podría haberme puesto a hacer cualquier otro.
@matiasfha

[2021-03-28 04:02] #457 closed

[2021-03-28 04:48] joaquinelio commented on #459
mejor fluidez, pero nada vital

[2021-03-28 04:48] #459 closed

[2021-03-28 18:00] #460 closed

[2021-03-28 20:18] joaquinelio commented on #461
Varios cambios al dia de hoy
*Lo estoy viendo*

[2021-03-28 21:18] #461 closed

[2021-03-31 16:26] joaquinelio commented on #471
err nro de linea, arregldo

[2021-03-31 16:26] #471 closed

[2021-03-31 17:07] joaquinelio commented on #17
Cookies, document.cookie

[2021-03-31 22:33] fcojacuna commented on #17
Focusing: focus/blur

[2021-04-12 10:59] #462 closed

[2021-04-13 10:24] #463 closed

[2021-04-15 20:35] EnmaCM commented on #17
Error handling, "try...catch"

[2021-04-16 09:42] joaquinelio commented on #17
oops
@EnmaCM ese articulo ya fue tomado
Qué extraño que Don Bot no se quejó... el bicho ese chequeaba todas estas cosas...

solo quedan 2 sin traductor
[code]
lo que faltn ahora son revisores si alguno se anima

[2021-04-16 09:55] joaquinelio commented on #17
Falta traductor para un solo artíulo  de expresiones regulares
* Catastrophic backtracking *

[2021-05-13 19:56] joaquinelio commented on #17
Por favor, algun voluntario que lea los PR
5 articulos completos esperando estar online de hace 2 meses

si no aparece nadie los pongo online para festejar
que mi hermana ❤️  hipertensa, 50+, obesa, diabetica acaba de sobrevivir al covid

[2021-05-14 01:58] jleodany commented on #17
Comparisons

[2021-05-14 02:02] jleodany commented on #17
Catastrophic backtracking

[2021-06-03 03:08] mattdimicelli opened #518 "corrección Page: DOMContentLoaded, load, beforeunload, unload"
En este artículo está escrito: "En el ejemplo, el controlador DOMContentLoaded....."

Opino que debería ser "En el ejemplo, el controlador de DOMContentLoaded....."

[2021-06-04 08:29] joaquinelio commented on #518
Gracias!

Aproveché para arreglar otra cosa en el mmo renglon, ("se carga" vs "terminó de cargarse")

y para mandar la inquietud al repo ingles:

the X handler => el manejador X
vs
the X's handler
the handler of X

[2021-06-04 08:56] joaquinelio commented on #518
Y ya me la rechazó.

jaja!
pero aca quedo bien ahora.

[2021-06-04 09:03] #518 closed

[2021-06-18 08:33] joaquinelio commented on #225
deje **lookahead  /behind /around** en ingles,
* la version español es incomodamente larga
* porque el nombre no importa, mayormente se usa y es mas claro el simbolo
* dif regiones leen como fea una u otra traduccion y no hubo acuerdo
* MDN lo tradujo de manera inconsistente y con un problema gramtical

[2021-06-23 20:21] johanncamilo commented on #17
Comparisons

[2021-06-23 20:27] johanncamilo commented on #17
Comparisons

[2021-06-23 22:52] joaquinelio commented on #17
9 faltan incorporar, todos tomados,
3 de ellos ya traducidos, para revisar

3 meses sin actividad, creo que debería limpiar la lista para permitir otros voluntarios

Necesitamos también voluntarios para leer los 3 ya hechos

[Modifying the document] | @joaquinelio | 2021-03-16 | #494
[Keyboard: keydown and keyup] | @dbritto-dev | 2021-03-16  |  
[Focusing: focus/blur] | @fcojacuna | 2021-03-31 |  

[2021-07-14 08:16] j-llano opened #526 "Focusing: focus/blur Art traducido ok online, falta traducir tasks"

[2021-07-20 10:16] j-llano opened #530 "IndexedDB"

[2021-07-20 11:59] joaquinelio commented on #530
@j-llano
indexeddb ya esta traducido

[2021-07-20 13:01] joaquinelio commented on #530
aca hay un procedimiento especial en el issue #17
aca no usamos un issue nuevo sino que los administramos ahi

[2021-07-21 01:37] joaquinelio commented on #17
Liberé de traductor los 5 artículos tomados pero sin PR
que estaban inactivos desde hace 3 meses a casi un año

así don bot vuelve a estar a cargo

[2021-07-22 09:23] joaquinelio commented on #526
Issue:  Falta traducir tasks

[2021-07-22 11:04] joaquinelio opened #531 ""translation progress issue" reading"
Hi @iliakan

Not very important,
woulld you kindly share the regex to read the translation progress lines?
just the regex, I have a little bug in mine.

Suggestion for other repos:
You may want to add "Date claimed" next to the user when it claims it.

date helped maintainers to decide the too-long-claimed articles to free
[code]

[2021-07-22 13:41] iliakan commented on #531
Here's the Node.js module that does it.

First, I have the full tutorial tree, then I loop over articles and parse the issue.

[code]

[2021-07-22 13:42] iliakan commented on #531
What's the suggested format (with the date) ?

[2021-07-22 13:55] iliakan commented on #531
Maybe keep the format compatible instead?

E.g. add the date after the PR number.

Like this:
[code]

[2021-07-22 15:56] joaquinelio commented on #531
thanks!
I'll study it.  Looks so clean... Guess I'll learn more than I wanted

"other maintainers"
We dont need the change anymore, I already have the program that searches for the last claim date, I just need to fix regex (mine fails with dash-user)
the suggestion is for other repos, claim-date is easy to add right into the issue, no extra prg needed to get abandoned arts.

or maybe spanish is a

[2021-07-22 16:08] iliakan commented on #531
People taking an article and giving up is a general problem.

It happens with every repo, just because, well, people are people.

So, there should be a script walks over PRs (easy to do) and does.. What?

[2021-07-22 16:53] joaquinelio commented on #531
1)
Already done.
And nothing.  😆
The prg just does the list, maintainer says "uhm, 6 months and no PR..."  then carefully edits the issue to erase the user.
did it a lot

2) But I suggest to add the date into the issue the moment the translator takes it. So no search needed.
Well, not from now on, oldder stay empty... wich is an indicator too.

[2021-07-22 17:12] joaquinelio commented on #531
Yes maybe you are right.  I bet most langs have just a few translators.

Spanish comm is big. There was a moment with few translations done and nearly all art were taken.
The script was really helpful

[2021-07-22 18:56] iliakan commented on #531
If the date is needed only for the script, then we don't have to show it in the issue.

[2021-07-22 20:24] joaquinelio commented on #531
if the date is in the issue, we dont need the script
:)

ok, only one must survive.

the script also filters. and can add some sort (didnt need it)

what a shame - just found another bug.
And I wrote it with paging loop, before reading your generators article
ugly
but served well

[2021-07-22 20:53] iliakan commented on #531
Dates may be needed for manual cleanup... What else? Is there any other need?

The script can run daily, to check the dates and cleanup.

[2021-07-22 22:13] joaquinelio commented on #531
Date is all what I needed

In fact this is the actual report my script showed before the last manual cleanup (today list is 8 )
[code]
very few and under control, thats why I say we dont need anything here now.
True, you need to be careful manually editimg the issue.

btw, I just "fixed" the count ( 165 of 173 tasks ) by marking the example line  ` * [ ] [Home Page](url) (@iliakan) #1` (it shows b

[2021-07-22 22:19] joaquinelio commented on #17
hi
@iliakan iliakan pinned this issue 8 hours ago

what does it do?

[2021-07-23 07:07] iliakan commented on #531
A script can easily retrieve the dates from github, given the PR number.

As you describe it, there's no need for a date in the issue (meant for humans to read).

[2021-07-23 07:13] iliakan commented on #17
puts the issue to the top of the issues list.

[2021-07-23 09:51] joaquinelio commented on #17
oops
feeling fool
I navigate trough notifications, didnt see it

[2021-07-23 10:37] joaquinelio commented on #531
We dont care PR.
the only date needed is from rhe comment claiming an article.

going further we only care claimed articles with NO PR

from script
` | Shadow DOM and events | @XXXXXXX | 2020-12-27 |    | `   <- no PR

2020-12-27 is the date of the (last [art] ) comment with 👍 from BOT
when  `* [ ] [Shadow DOM and events] (@XXXXXXX) `  was added

1) if there is a date ,
not a human but a maintaine

[2021-07-23 12:25] iliakan commented on #531
Ah, I get it. You mean claimed articles w/o PR. Yes, the info should be in the issue.

So, a table or a list?

[2021-07-23 15:11] joaquinelio commented on #531
without. w/o, wo.  What's happening to my brain. sorry.

no prefference...

I put the script on glitchme,
too lazy , I didnt add sort,
so cut/paste result on a sheet

about order, the only I used was claimed date, but I prioritized 1st section before start cleaning the other 2

[2021-07-24 21:57] jespadas commented on #17
I want to translate: ArrayBuffer, binary arrays. Let me know if that's ok !

[2021-07-24 22:21] joaquinelio commented on #17
@jespadas
Solo necesitas copiar y pegar el titulo que quieras traducir como comentario separado,
si está disponible el BOT te da el ok con un 👍

[2021-07-24 22:25] jespadas commented on #17
Listo, gracias !

[2021-07-24 22:25] jespadas commented on #17
Shadow DOM and events

[2021-07-24 22:25] jespadas commented on #17
ArrayBuffer, binary arrays

[2021-07-24 22:26] jespadas commented on #17
Shadow DOM slots, composition

[2021-07-24 22:27] jespadas commented on #17
Catastrophic backtracking

[2021-07-28 14:07] joaquinelio opened #534 "revisar códigos ejemplo pointer-events"
https://es.javascript.info/pointer-events
https://github.com/javascript-tutorial/es.javascript.info/blob/master/2-ui/3-event-details/6-pointer-events/article.md

dragon ball 2
slider 2 w/date

[2021-07-31 13:32] #534 closed

[2021-07-31 13:43] joaquinelio commented on #17
hola @jespadas y gracias por el aporte hecho
pero veo que acaparaste todos los art libres, ¿puedo liberar alguno?
ademas, si tenes alguna experiencia js, vendria bien ayuda en review

[2021-07-31 14:50] jespadas commented on #17
Hola, estoy trabajando en ellas.

Y también tengo exp en js.

El sáb., 31 de julio de 2021 15:43, joaquinelio ***@***.***>
escribió:

[2021-07-31 15:51] joaquinelio commented on #17
@jespadas
gracias!
uh, acabo de hacer un merge sin review porque estuvo esperando 5 meses

podrias leer alguno de los PR que quedan?
concepto, typos, bugs, toda review viene bien
o una aunque sea para dar fe de que no voy a romper la internet

[2021-07-31 16:09] jespadas commented on #17
Claro, tu dime cuál quieres que revise para que no perdamos tiempo viendo las mismas PR.

[2021-07-31 16:35] joaquinelio commented on #17
son solo 2
y mios, por eso no ls hice

excepto la #494 que me aprobé a mi mismo, pues me parecia vital en el curso
hay que hacer posreview jja

[2021-07-31 22:31] jespadas commented on #17
Jaja que conveniente. Los reviso mañana domingo (horario de Francia). Con
gusto ! Si puedes mandarme otros, tendré mucho tiempo !

El sáb., 31 de julio de 2021 18:35, joaquinelio ***@***.***>
escribió:

[2021-08-01 09:37] #530 closed

[2021-08-05 09:38] joaquinelio commented on #17
@jespadas plis abri unissue y pone info del problema,
no queremos desperdiciar ninguna traduccion
intentaste por comandos?
o dde dentro d un ide?

[2021-08-15 05:41] joaquinelio opened #536 "revisar ambigüedad seccion promises, resolve/reject/settled"
`resolve = resuelta` — solo si fue exitoso, ("cumplida" es mas preciso, pero nadie lo usa)
`reject = rechazada` — solo si termina con error, perfecta y no hay ambigüedad
`settled = ¿¿??` — para ambos casos, la promesa `resolvio o rechazo`, que ya no es pending sino que esta...

...¿establecido?  **(fue usado en promise-basics, parece ok)**
...¿asentado?
...¿determinado? (segun MDN puaj - en el tex

[2021-08-15 06:07] joaquinelio commented on #536
ej
"f siempre se ejecuta cuando se resuelve la promesa:" - mal

f siempre se ejecuta cuando se establece la promesa:  puaj
f siempre se ejecuta cuando se determina la promesa: puaj
f siempre se ejecuta cuando la promesa fue establecida/determinada
f siempre se ejecuta cuando la promesa quedó establecida/determinada

f siempre se ejecuta una vez que la promesa quedó establecida/determinada

[2021-08-16 17:51] joaquinelio commented on #531
it works for me,
you may want to make an automatic cleaning tool

didnt put the links before because i'm not proud of the code, ( so many things I'd do differenly!)

but the result probed to be really useful,  it helped me a lot in the past year,
over a hundred pending articles and lots of translators and the project started to get stuck

https://joaquinelio-zone17.glitch.me/
https://github.com/jo

[2021-09-04 06:44] #526 closed

[2021-09-14 13:29] carlos-dubon commented on #17
Keyboard: keydown and keyup

[2021-09-20 14:51] MaxSierra16 commented on #17
Hola, @lizzie136 me gustaria contribuir. Veo que todos los articulos estan asignados. Tienes algun issue en el que te pueda ayudar?

[2021-09-21 04:28] joaquinelio commented on #17
hola!  @MaxSierra16

lo que guustes

* aún hay 2 disponibles escondidos en algun lado

* tamb tengo un PR colgado que necesita review (lo hice hace tiempo me lo estaba por autoaprobar) te agradeceria revisada, el articulo me parece impoortante

* luego, hay 2 tomados aun sin PR, si se demoran los puedo liberar

![image](https://user-images.githubusercontent.com/6558304/134109473-5523f32c-4d11-4e50

[2021-09-23 06:21] joaquinelio opened #546 "falta traducir task de 1 5 10 desestruct"

[2021-09-23 14:47] MaxSierra16 commented on #17
Suena bien. Voy a tomar el de shadow dom y estare revisando tu PR.

Muchas gracias.

[2021-09-23 14:51] MaxSierra16 commented on #17
Hola amigos, estare trabajando en el articulo: Shadow DOM slots, composition

[2021-09-23 17:27] joaquinelio commented on #17
hi @MaxSierra16
aca el boss es bot, ¿podrias poner un coment con solamente el titulo elegido?
asi  el bot lo registra y te acepta con un 👍
 Gracias

[2021-09-23 18:00] MaxSierra16 commented on #17
Shadow DOM slots, composition

[2021-10-02 10:34] #546 closed

[2021-10-02 12:35] joaquinelio commented on #17
Shadow DOM and events

[2021-10-08 23:49] Miketr32 commented on #17
Polyfills and transpilers

[2021-10-08 23:50] Miketr32 commented on #17
Object references and copying

[2021-10-12 09:18] aralvarez opened #557 "Corrección gramatical"
https://es.javascript.info/browser-environment

El objeto location, nos permite leer la URL actual y puede redirigir el navegador a uno nuevo.

CAMBIO A:
El objeto location, nos permite leer la URL actual y puede redirigir el navegador a **una** nuevo.

[2021-11-12 04:08] OscarJuarezBautista opened #581 "Fragmento no traducido"
Hola. Adquirí el PDF. En el documento parte 2, el tema Modifying the document no se encuentra traducido al español. En la versión en line, sí.

Muchas gracias.

[2021-11-12 13:37] joaquinelio commented on #581
hola @OscarJuarezBautista

hasta donde sé es todo mss o menos automatico

la fecha de actualizacion del articulo (se muestra en la pagina online) es  de  agosto, no deberia ser problema;

 la fecha de compilación de tu pdf figura en las primeras paginas
¿intentaste bajarlo de nuevo? seguramente estas aun en periodo habilitado.

si persiste el problema, se lo derivo con estos datos al creador del s

[2021-11-16 23:08] joaquinelio commented on #581
hi @iliakan

the author of this issue claims the pdf has untranslated:
Modifying the document (transl july 31)

I Don't know its built date
he didn't answered yet,
but I guess it is an easy check for you

[2021-11-17 06:05] iliakan commented on #581
@OscarJuarezBautista Can you download the most recent version?
It's translated on the website, but not in PDF? Please check.

[2021-12-03 19:52] joaquinelio opened #588 "lost in translation: Built-in"
Traduccion de "built-in"

DEBE unificarse el criterio.
HAY que arreglar especialmente "Ampliación de clases integradas" que usó 3 traducciones distintas

Habiamos empezado el repo con  --->  "incorporado"
pero es ambiguo, una biblioteca de terceros también "incorpora" cosas
se puede resolver con "preincorporado", suena raro

Algunos usaron "integrado", pero tiene el mismo problema  de ambiguedd

T

[2021-12-13 22:15] joaquinelio commented on #17
HELP WANTED
1 articulo para revisar, y
2 para traducir.  Parecen abandonados, quien quiera traducir que deje coment.

<html>
<body>
<p id="che" style="color: rgb(232, 230, 227); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-inde

[2021-12-14 08:24] jespadas commented on #17
Hola @joaquinelio el mío no está abandonado, lo termino esta semana, promesa ! (Tenía mucho trabajo de fin de año). Te va ?

[2021-12-14 10:57] joaquinelio commented on #17
claro que sí,
solo soy uno más que ayuda y si avanza no me meto en el medio

[2021-12-15 16:31] jespadas commented on #17
Actualizacion : Acabo de realizar el PR Catastrophic backtracking #591.

[2021-12-16 13:13] joaquinelio opened #592 "lost in translation: shadow root/host/tree/"
Estoy de aacuerdo con dbritto

son nombres especificos y tambien nombres de propiedd shadowRoot.
Por coherencia habria que peinar el repo y buscar
shadow tree
shadow host
shadow boundary
shadow root

[2021-12-28 13:06] jespadas commented on #588
Pienso que podriamos utilizar el termino "nativo", yo creo que estamos hablando de algo tecnico que lo entenderan la mayor parte de los lectores. Todo esto para evitar las ambigüedades que mencionas.

[2021-12-28 13:14] jespadas commented on #17
Hola, necesitas ayuda revisando o con algo ? Estare libre unos dias y podria ayudarte. Me dices cualquier cosa ! Ya termine con las traducciones pendientes pero estoy alerte por cualquier cosa.

[2021-12-28 13:14] jespadas commented on #17
Hola, necesitas ayuda revisando o con algo ? Estare libre unos dias y podria ayudarte. Me dices cualquier cosa ! Ya termine con las traducciones pendientes pero estoy alerte por cualquier cosa.

[2021-12-28 13:16] jespadas commented on #17
@joaquinelio Hola, ya termine con las traducciones que tenia pendientes y estare libre para poder ayudarte a revisar o a traducir, tu me diras lo que necesitas !

[2022-01-03 22:35] joaquinelio commented on #17
Hola @jespadas, ¿le tenes ganas al de "keyboard..." ?
¡Es el único que falta!  (y todos los demás están al día)
El que lo tiene no contestó.

feliz 2022
quelopario como pasa el tiempo

[2022-01-09 00:47] joaquinelio commented on #17
Keyboard: keydown and keyup

[2022-01-09 08:26] jespadas commented on #17
Hoy tengo el día libre para hacer este, me lo dejas ??

[2022-01-09 08:27] jespadas commented on #17
Me dejas este ? Tengo el día libre para hacerlo

Le dim. 9 janv. 2022 à 01:47, joaquinelio ***@***.***> a
écrit :

[2022-01-09 11:01] joaquinelio commented on #17
Uh. perdón! @jespadas
Te habia tentado pero luego me entusiasmé xque era el ultimo e hice un PR hace 10 horas

{
IF
SI YA lo estuviste degustando y lo queres hacer,
saco el mio en draft y reviso el tuyo cuando lo tengas
son 200 lineas

ELSE
si no tenes nada hecho podes revisar el mio
pero lo hice rapidito y me fui a dormir, aunque completo debe estar bastante en bruto
}

[2022-01-10 21:07] joaquinelio commented on #531
Hi @iliakan,  I'm closing this.   (only one article left! )

But you may use the suggestion:
**To add "claimed date" every time a translator picks an article.**
so maintainers can consider to free it if it looks abandoned.
I did it a lot, it bursted the progress.

May another suggestion:
**Prevent translators to take a second article if the 1st one doesnt have a PR**
There is no need to take more

[2022-01-11 04:19] iliakan commented on #531
Sorry for not implementing this, @joaquinelio , but I think the idea is good.

[2022-01-26 16:04] AndresBlade opened #600 "No se muestran imágenes de ejemplo"
En la PARTE 2, en la sección Documento, en el capítulo "Elementos de tamaño y desplazamiento", no se muestran las imágenes de ejemplo de ClientTop/Left
![Captura de pantalla 2022-01-26 120307](https://user-images.githubusercontent.com/85844316/151199915-777e6bce-7ca5-491b-98b7-e0421af24ed9.png)
![Captura de pantalla 2022-01-26 120352](https://user-images.githubusercontent.com/85844316/151199920-fd

[2022-01-26 23:34] joaquinelio commented on #600
meti issue # 2843 en repo inglés

[2022-01-31 00:29] joaquinelio opened #602 "(Review needed) Keyboard: keydown and keyup"
A falta de reviewers hice merge
confío en que es g"ood enough" y es mejor que esté online.

necesitaría maintainers que ayuden con la sincronización,
tarea más pesada que la traduccion

pero bué...

[2022-02-03 03:04] maksumi commented on #602
¿Entonces qué procede y cómo nos organizamos?

Maks is alive

[2022-02-03 03:05] maksumi commented on #602
¿Entonces qué procede y cómo nos organizamos?

Maks is alive

[2022-02-03 11:41] joaquinelio commented on #602
¡ALEX!
Creí que la filosofía al fin te habia absorbido
contento de que estes alive

Mi pelea desde el primer día: Que no haya nada que organizar, don bot manda.
Viene uno, ve lo que hay pendiente, elige y hace
o simplemente dice "que mal que está todo" y se va a dormir.

Las discusiones (glosario, gramatica, localismos) sí que las veo saludables.

Review, en este caso sería pos-facto (no es el cod

[2022-02-03 11:53] joaquinelio commented on #602
@maksumi
me olvidaba
lo que queda es lo pesado, sync con repo ingles (por ahora esta al dia)

si es poco hago las que sugiere el bot (hay que ser muy cuidadoso)
si es mucho las hago en mi note,

tengo dos remotos upstream / enstream y hago los merge localmente.

TODOS los supersync (susy's PR)
los hice sin review porque se acumulaban y se hacia imposible de mantener.

sigue siendo honorífico, pero

[2022-02-06 01:46] maksumi commented on #602
Hola @joaquinelio , disculpa que apenas te lea. Claro aquí sigo. Ponte en contacto conmigo, te mandé mensaje por discord. ¿Dónde te puedo localizar para organizarnos?

[2022-03-31 21:18] joaquinelio commented on #600
it's done!

Ademas
"Tamaño de elementos y desplazamiento" suena ahora buen castellano.

[2022-04-02 02:02] rgaezsd commented on #17
Promise

[2022-08-15 07:02] d-caldasCaridad commented on #17
Hi my JS-CODE-PEOPLE. This is the article that I want to translate --->> [Debugging in the browser](https://github.com/javascript-tutorial/es.javascript.info/blob/master/1-js/03-code-quality/01-debugging-chrome). Thanks!!

[2022-08-15 09:47] d-caldasCaridad commented on #17
Pensé que podría traducir algo por acá pero veo que ya esta todo listo con la traducción. Quería intentarlo porque creí que iba a practicar mi inglés básico haber si mejoraba en algo...

¡que gran proyecto! ¡me gustó mucho el articulo [Ninja code](https://github.com/javascript-tutorial/es.javascript.info/blob/master/1-js/03-code-quality/04-ninja-code)!

[2022-09-21 20:28] joaquinelio opened #654 "lost in translation: built-in traduccion no unificada. ¿Incorporado?"
***se tradujo por "incorporado", "integrado" y "nativo"***

incorporado significa "añadido", lo opuesto a built-in. Una biblioteca de 3ros tamb incorpora funciones.
integrado no resuelve el problema de ambig¨uedad.
nativo es certero, pero muy poco usado y quizas confunda.

***Propuesta 1 "preincorporado"***
demasiado aparatoso, pero preciso y entendible por TODOS

***Propuesta 2... "incorporado",

[2022-09-23 00:14] maksumi commented on #654
Hey @joaquinelio! Maksumi is in da house. ¿
Por dónde nos podemos comunicar para ponerme al corriente, amigo?

[2022-09-23 17:14] joaquinelio commented on #654
alex!

ando algo perdido, olvide que pediste contactar por discord

Tambien ando gagá
No me funcionan las alarmas.
Este issue ya lo habia hecho, pero cuando lo escribi me parecia una novedad asi que he de cerrarlo...

[2022-09-23 17:14] #654 closed

[2022-09-23 17:15] joaquinelio commented on #588
Propuesta 1 "nativo"
Preciso, casi nada usado.

Propuesta 2 "preincorporado"
demasiado aparatoso, pero preciso y entendible por TODOS

Propuesta 3 "incorporado"..., porque lo dice MDN
No usabamos MDN-ES como referencia de traduccion porque hace años tenia muchas burradas
Pero mejoro mucho, y por el bien de la estandarizacion es quiza la mejor opcion para unificar.

[2022-09-29 14:41] joaquinelio opened #658 "map-set: reemplazar markdown MDN: por ruta completa"
https://github.com/javascript-tutorial/es.javascript.info/blob/master/1-js/05-data-types/07-map-set/article.md

el ingles agrego MONTON de  links con el markdown
MDN:
que en ES ya no funciona,
hay que reemplazarlos por ruta completa

y probarlos uno por uno, claro.
Porque antes que cualquier verdura
es preferible el "page not found" de mdn, que mas abajo tiene el link al ingles.

[2022-10-29 12:32] Jarguez opened #666 "Traducción"
Yo puedo contribuir con la trauccion del siguiente artículo:
[Error handling, "try...catch"](https://github.com/javascript-tutorial/es.javascript.info/blob/master/1-js/10-error-handling/1-try-catch)

[2022-10-29 15:34] joaquinelio commented on #666
Ya no queda nada por traducir @Jarguez

Podrías colaborar, si ves alguna corrección que quieras hacer mandando un PR.

[2022-10-29 15:34] #666 closed

[2022-11-22 14:07] #658 closed